<p id="accion_masiva<%= accion_masiva.id %>" class="accion-masiva"> 	
	<%= accion_masiva.created_at.strftime("%Y-%m-%d %H:%M") %> | Profesional: <%= accion_masiva.especialidad_prestador_profesional.profesional.showName('%n%p%m') %> | Especialidad: <%= accion_masiva.especialidad_prestador_profesional.especialidad.nombre %> | Agendamientos sin eliminar: <%= accion_masiva.agendamientos_sin_cancelar %> | <a href="#vista_sin_cancelar" role="button" class="btn" data-toggle="modal" onclick="cargarVistaSinCancelar(<%= accion_masiva.id %>)">Ver agendamientos</a>
</p>