<% if esProfesionalSalud %>
	<h4>Agenda</h4>
<% else %>
	<div class="panel panel-success">
		<div class="panel-heading">
		  <h3 class="panel-title">Buscador de horas</h3>
		</div>
		<div class="panel-body">
			<div class="row">
			<% if !tieneRol('Generar agendamientos') %>
				<div class="col-md-4 div-form-buscar-hora">	
					<div class="div-centros">
						<label>Centros médicos</label>
				  	<fieldset id="checkbox_centros">
				  		 <div class="checkbox"><label for="parentCheckBox" ><input type="checkbox" class="parentCheckBox" id="parentCheckBox" onchange="actualizarTodosLosCentros();"> Todos los centros</label></div>				    
							<div class="div_checkbox_centros">
				  		<% @prestadores.each do |p| %>  				  
				     		<div class="checkbox"><label><input type="checkbox" name="centros_option[]" class="childCheckBox" value="<%= p.id%>" onchange="actualizarCentro();" > <%= p.nombre %></label></div>					
				  		<% end %>
				  		</div>
				  	</fieldset>
					</div>
				</div>
			<% end %>
				<div class="col-md-8 div-form-buscar-hora">
					<div class="row clearfix row-buscar-hora">
						<div class="col-md-3 column">
							<label>Especialidad</label> 
						</div>
						<div class="col-md-9 column">	 
					    <select id="select_especialidad" name="select_especialidad"  class="select_especialidad"  >
					    	 <option></option>
					      <% @especialidades.each do |e| %>
				          <option value="<%= e.id%>"><%= e.nombre %></option>
				        <% end %>
					    </select>			    
				    </div>
			    </div>
			    <div class="row clearfix row-buscar-hora">
			    	<div class="col-md-3 column">
				  		<label>Especialista</label>
				  	</div>	
				  	<div class="col-md-9 column">	
					    <select id="select_especialista" name="select_especialista" class="select_especialista" >
					      <option></option>
					       <% @profesionales.each do |pro| %>
				          <option value="<%= pro.id%>"><%= pro.showName('%n%p%m') %></option>
				        <% end %>
					    </select>
					    <div id="cargando-especialistas"></div>
				    </div>
			    </div>
			    <br>
				</div>
			</div>
		</div> 
	</div> 
<% end %>

<!-- div principal que carga el calendario-->
<div id='buscadorHora'></div>

<% if (esProfesionalSalud or esAdministrativo )%>
	<%= render :partial => "agendamiento/leyenda_agendamiento" %>
<% end %> 

<div class="modal fade" id="modal-container-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg3">
    <div class="modal-content" id="modal-content-2"></div>          
  </div>        
</div> 

<%= javascript_include_tag "agendamiento/buscador_hora" %>
<%= javascript_include_tag "agendamiento" %>