<fieldset class="padding-bottom">
	<legend>Tomar hora</legend>
	<div class="row">
		<div class="col-md-3"><label>La hora es para</label></div>
		<div class="col-md-9">:
			<select id="select_age_<%= @agendamiento.id %>" class="select_persona_hora">
				<option></option>
				<option>Para mi</option>
				<% @usuario = PerPersonas.where('user_id = ?',current_user.id).first	%>
				<% @usuario.getCercanos.each do |cercano| %>
					<option value="<%= cercano[0].to_s %>"> <%= cercano[1].dup %> - <%= PerPersonas.find(cercano[0]).showName('%n%p%m') %></option>
				<% end %>
			</select>	<a id="modal-agregar-persona" href="#modal-container-agregar-persona-age_<%= @agendamiento.id %>" role="button" class="btn" data-toggle="modal">O agrega una persona</a>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-md-3"><label>Motivo de la consulta</label></div>
		<div class="col-md-9">:
      <% if @agendamiento.especialidad_prestador_profesional.especialidad.nombre != "Dental" %>
  			<div id="m_c_<%= @agendamiento.id %>">
          <div class="radio">
            <label for="radios-0">
              <input type="radio" name="radios-motivo-<%= @agendamiento.id %>" id="radios-0" value="1" checked="checked"> Es nuevo
            </label>
          </div>
          <div class="radio">
            <label for="radios-1">
              <input type="radio" name="radios-motivo-<%= @agendamiento.id %>" id="radios-1" value="2"> Desea controlar un antecedente
            </label>
          </div>
        </div>
        <% @antecedentes = @usuario.getEnfermedadesCronicas %>
        <% unless @antecedentes.empty? %>
        	<div id="div-sel-ant-<%= @agendamiento.id %>" class="oculto">
        		<select id="select-antecedente-<%= @agendamiento.id %>" name="selectbasic" class="select_antecedente">
        			<option></option>
        			<% @antecedentes.each do |ant| %>
      					<option value="<%= ant.id %>"><%= ant.diagnostico.nombre %></option>
      				<% end %>	
      			</select>
      		</div>	
        <% end %>
        <% @capitulos = MedDiagnosticosCapitulos.all %>
        <div id="div-sel-cap-<%= @agendamiento.id %>" class="prevent-break-line" >
        	<select id="select-capitulo-<%= @agendamiento.id %>" name="selectbasic" class="select_capitulo">
        		<option></option>
        		<% @capitulos.each do |cap| %>
        			<option value='<%= cap.id %>'><%= cap.nombre %></option>
        		<% end %>
        	</select>
        </div>
      <% else %>
        <select id="select-motivo-dental-<%= @agendamiento.id %>" name="selectbasic" class="motivo_dental">
          <option></option>
          <option value='1'>Diagnóstico/Primera visita</option>
          <option value='2'>1era sesión tratamiento</option>
          <option value='3'>2nda sesión tratamiento</option>
          <option value='4'>3era sesión tratamiento</option>
          <option value='5'>4ta sesión tratamiento</option>          
        </select>
      <% end %>
		</div>
	</div>
</fieldset>

<div class="modal fade" id="modal-container-agregar-persona-age_<%= @agendamiento.id %>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<%= render :partial => "persona/agregar_persona", :locals => {:origen => @agendamiento.id, :id => 'age_'+@agendamiento.id.to_s, :subgrupo => 'todos' } %>
			</div>
		</div>		
	</div>	
</div>

<%= javascript_include_tag "label_better" %> 