<div id="iconos-leyenda" class="container">
	<div class="row clearfix">
		<div class="col-md-2 column"><%= image_tag('pacifier.png') %> Recién nacido</div>
		<div class="col-md-2 column"><%= image_tag('bottle.png') %> Lactante</div>
		<div class="col-md-2 column"><%= image_tag('soccer.png') %> </i> Pediatría</div>
		<div class="col-md-2 column"><%= image_tag('adolescente.png') %> Adolescente </div>
		<div class="col-md-2 column"><%= image_tag('adulto.png') %> Adulto</div>
		<div class="col-md-2 column"><%= image_tag('sticky.png') %></i> Adulto mayor </div>		
	</div>
</div>