<h4>Agregar horas</h4>
<div class"container">  
  <div class="row clearfix">
    <div class="col-md-3 column">
      <label>Especialidad</label> 
    </div>
    <div class="col-md-9 column">  
      <select id="select_especialidad" name="select_especialidad"  class="select_especialidad"  >
        <option></option>
        <% @especialidades.each do |e| %>
          <option value="<%= e.id%>"><%= e.nombre %></option>
        <% end %>
      </select>         
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-3 column">
      <label>Especialista</label>
    </div>  
    <div class="col-md-9 column"> 
      <select id="select_especialista" name="select_especialista" class="select_especialista" >
        <option></option>
         <% @profesionales.each do |pro| %>
          <option value="<%= pro.id%>"><%= pro.showName('%n%p%m') %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <button id="<%= getIdPrestador('administrativo') %>"  class='agregar_horas btn btn-success' >Ir a la agenda</button>
    </div> 
  </div>
</div> 

<%= javascript_include_tag "agendamiento/buscar_especialista" %>