<%= form_tag("", :id=>"form_hora" ) do %>
   
    <% if tieneRol('Genera agendamientos') %>
      Buscador de profesionales
    <% else %>    
      Buscador de atenciones de salud
    <% end %>

    <% if tieneRol('Genera agendamientos') %>
    <div style="display: none">
      <select id="e1" name="e1" class="chosen-select" style="display: none">        
          <option value="<%= getIdPrestador('administrativo') %>"></option>       
      </select>
     </div>     
    <% else %> 
      Recinto de salud:
      <select id="e1" name="e1" class="chosen-select" data-placeholder="Seleccione un recinto de salud" >
          <option></option>
        <% @prestadores.each do |p| %>
          <option value="<%= p.id%>"><%= p.nombre %></option>
        <% end %>
      </select>      

    <% end %>
      <br/>
      Especialidad:
      <select id="e2" name="e2" data-placeholder="Seleccione una especialidad"  >
          <option></option>
        <% @especialidades.each do |e| %>
          <option value="<%= e.id%>"><%= e.nombre %></option>
        <% end %>
      </select> <br/>
     
      Especialista:
      <select id="e3" name="e3" class="chosen-select" data-placeholder="Seleccione un especialista">
          <option></option>
        <% @profesionales.each do |pro| %>
          <option value="<%= pro.id%>"><%= pro.showName('%n%p%m') %></option>
        <% end %>
      </select> 

  <%= submit_tag("Ir a la agenda") %>

<% end %>

<%= javascript_include_tag "agendamiento/buscar-especialista" %>