<h1 class="enc-ges">Formulario de constancia de información al paciente GES</h1>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del prestador</h3>
  </div>
  <div class="panel-body">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Institución</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Dirección</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Profesional que notifica</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Rut profesional</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del paciente</h3>
  </div>
  <div class="panel-body">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Nombre</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Rut</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showRut %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Previsión de salud</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getPrevision.prevision_salud.nombre %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Domicilio</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getDomicilio %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Correo electrónico</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.user.email %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Telefono fijo</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getTelefonoFijo %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Celular</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getCelular %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Confirmación Diagnóstica GES </label>
			</div>
			<div class="col-md-8 column">:
				<%= p_d.diagnostico.nombre %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-12 column">
	      <div class="checkbox" id="conf_<%= p_d.id %>">
	        <label class="checkbox-der" for="checkboxes-conf-<%= p_d.id %>">Confirmación Diagnóstica<input class="checkbox-der" type="checkbox" name="checkboxes" id="checkboxes-conf-<%= p_d.id %>" value="1" <% if p_d.estado_diagnostico.nombre == 'Confirmado' %> checked="checked" <% end %> ></label>
	      </div>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-12 column">
				<div class="checkbox" id="trat_<%= p_d.id %>">
					<label class="checkbox-der" for="checkboxes-trat-<%= p_d.id %>">Paciente en tratamiento<input class="checkbox-der" type="checkbox" name="checkboxes" id="checkboxes-trat-<%= p_d.id %>" value="1" <% if true%> checked="checked" <% end %> ></label>
				</div>	
			</div>
		</div>		
	</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-12 column">
				Constancia
				</div>			
			</div>
			<div class="row clearfix">	
				<div class="col-md-12 column">
				Importante				
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la noticiación</label>
				</div>
				<div class="col-md-8 column">:
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Informa Diagnóstico GES</label>
				</div>
				<div class="col-md-8 column">:
					<label>Tomé conocimiento</label>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-12 column">
				En caso				
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>nombre</label>
				</div>
				<div class="col-md-8 column">:
					<label>Rut</label>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Celular</label>
				</div>
				<div class="col-md-8 column">:
					<label>Correo</label>
				</div>
			</div>
		</div>
 	</div>
</div>

Problemas de salud Garantizados según 

