<%  
		notificacion = p_d.getNotificacion(p_d.id)
		persona_notificacion = notificacion.persona_conocimiento unless notificacion.nil?
		nombre = ''
		rut = ''
		correo = ''
		celular = ''
		telefono_fijo = ''
		unless persona_notificacion.nil? 			
			nombre = persona_notificacion.showName('%n%p%m')
			rut = persona_notificacion.showRut
			correo = persona_notificacion.user.email 
			celular = persona_notificacion.getCelular 
			telefono_fijo = persona_notificacion.getTelefonoFijo
			id_pre = persona_notificacion.id			 				 		
		end
	
%>
<% disabled = (tipo == 'edit' ) ? '' : 'disabled' %>		

<h1 class="enc-ges">Formulario de constancia de información al paciente GES (Artículo 24°, Ley 19.996)</h1>

<%= render :partial => "datos_prestador_paciente", :locals => { :agendamiento => @agendamiento, :id => 'con_'+p_d.id.to_s  } %>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Diagnóstico</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.nombre %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Código CIE10</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.codigo_cie10 %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-12 column">
					<div class="form-group form-ges" id="ges_<%= p_d.id %>">						
				    <div class="radio">
				      <label for="radios-conf-<%= p_d.id%>">
				      	<input type="radio" name="radios-ges-<%= p_d.id%>" disabled value="1" id="radios-conf-<%= p_d.id%>" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 0 %> checked <% end %> <%= disabled %> />Confirmación diagnóstica
				      </label>
				    </div> 						
				    <div class="radio">
				      <label for="radios-trat-<%= p_d.id%>">
				      	<input type="radio" name="radios-ges-<%= p_d.id%>" disabled value="2" id="radios-trat-<%= p_d.id%>" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 1 %> checked <% end %> <%= disabled %> />Paciente en tratamiento
				      </label>
				    </div> 						
					</div>
				</div>
			</div>		
		</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<label>Constancia:</label>
					<p class="texto_font_bajo">Declaro que, con esta fecha y hora, he tomado conocimiento que tengo derecho a acceder a las Garantías Explícitas en Salud, siempre que la atención sea otorgada en la red de Prestadores que me corresponde según Fonasa o Isapre, a la que me encuentro adscrito.</p>
					<label>Importante:</label>
					<p class="texto_font_bajo">Tenga presente que si no se cumplen las garantías usted puede reclamar ante Fonasa o la Isapre, según corresponda. Si la respuesta no es satisfactoria, usted puede recurrir en segunda instancia a la Superintendencia de Salud.</p>
				</div>			
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la notificación</label>
				</div>
				<div class="col-md-8 column">:
					<%= l Time.now %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column firma">
					<label class="firma">Informa Diagnóstico GES</label>
					<label class="pie_firma">(Firma de persona que notifica)</label>
				</div>
				<div class="col-md-6 column firma">
					<label class="firma">Tomé conocimiento</label>
					<label class="pie_firma">(Firma o huella digital del paciente o representante)</label>
				</div>
			</div>
		</div>
 	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">	
				<div class="col-md-12 column">
				En caso que la persona que tomó conocimiento no sea el paciente, identificar:			
				</div>
			</div>
			<% if tipo == 'edit' %>			  
				<div class="row clearfix">
					<div class="col-md-8 column">
						<%= render :partial => "persona/seleccionar_persona", :locals => {:persona => p_d.persona, :id => 'not_'+p_d.id.to_s, :id_pre => id_pre, :clase => 'select_notificacion', :subgrupo => 'todos'  } %>
					</div>
					<div class="col-md-4 column">
						<a id="modal-agregar-persona" href="#modal-container-agregar-persona-not_<%= p_d.id.to_s %>" role="button" class="btn" data-toggle="modal">O agregue una persona</a>			 		
					</div>				
				</div>
			<% end %>
			<div class="row clearfix ajus-mar-top">
				<div class="col-md-6 column">
					<label>Nombre</label>: <span id="not_nombre_<%= p_d.id %>" ><%= nombre %></span>				
				</div>				
				<div class="col-md-6 column">
					<label>Rut</label>: <span id="not_rut_<%= p_d.id %>" ><%= rut %></span>			
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<label>Correo electrónico</label>: <span id="not_correo_<%= p_d.id %>" ><%= correo %></span>					
				</div>
				<div class="col-md-6 column">
					<label>Celular</label>: <span id="not_celular_<%= p_d.id %>" ><%= celular %></span>	
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<label>Telefono fijo</label>: <span id="not_telefono_<%= p_d.id %>" ><%= telefono_fijo %></span>
				</div>			
				<div class="col-md-6 column">
				</div>				
			</div>
		</div>
 	</div>
</div>

<% if tipo == 'edit' %>	
	<div class="modal fade" id="modal-container-agregar-persona-not_<%= p_d.id.to_s %>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog ajuste-top">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="cerrarModalAgregarPersona('not_'+<%= p_d.id.to_s %>)" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Agregar persona</h4>
				</div>
				<div class="modal-body">
					<%= render :partial => "persona/agregar_persona", :locals => {:origen => p_d.id, :id => 'not_'+p_d.id.to_s, :subgrupo => 'todos' } %>
				</div>
				<div class="modal-footer"></div>
			</div>		
		</div>	
	</div>
<% end %>

<div class="panel-group" id="panel-GES">
	<div class="panel panel-default">
		<div class="panel-heading">
			 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-GES" href="#panel-element-GES">Problemas de Salud Garantizados según Decreto Supremo N° 4, de 2013, de Salud</a>
		</div>
		<div id="panel-element-GES" class="panel-collapse collapse">
			<div class="panel-body panel-body-ajustado panel-ges">
				<ol>	
					<%= render :partial => "lista_ges" %>
				</ol>
			</div>
		</div>
	</div>
</div>