<%  interconsulta = p_d.getInterconsulta(p_d.id)
		nombre = ''
		rut = ''
		correo = ''
		celular = ''
		telefono_fijo = ''
		unless interconsulta.nil? 
			unless interconsulta.persona_conocimiento.nil? 
				nombre = interconsulta.persona_conocimiento.showName('%n%p%m')
				rut = interconsulta.persona_conocimiento.showRut
				correo = interconsulta.persona_conocimiento.user.email 
				celular = interconsulta.persona_conocimiento.getCelular 
				telefono_fijo = interconsulta.persona_conocimiento.getTelefonoFijo
				id_pre = interconsulta.persona_conocimiento.id			 				 		
			end
		end 
%>
<% disabled = (tipo == 'edit' ) ? '' : 'disabled' %>	

<h1 class="enc-ges">Solicitud de Interconsulta o Derivación</h1>

<%= render :partial => "atenciones_salud/datos_prestador_paciente", :locals => { :agendamiento => @agendamiento, :id => 'int_'+p_d.id.to_s } %>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Establecimiento al cual se deriva</label>
				</div>
				<div class="col-md-8 column">:
				<input id="int-pdt-<%= p_d.id %>" type="text" class="form-control ajuste-cen-der" onkeyup="autoIntPdt(<%= p_d.id %>)" value="<%= interconsulta.prestador_destino_texto unless interconsulta.nil?  %>" <%= disabled %> />						
				</div>				
			</div>
			<div class="row clearfix ajuste-margin">
				<div class="col-md-4 column">
					<label>Especialidad</label>
				</div>
				<div class="col-md-8 column">:
					<% if tipo == 'edit' %>
						<select id="select_especialidad_int<%= p_d.id %>" class="select_especialidad_interconsulta" onchange="selectEspecialidadInterconsulta(<%= p_d.id %>)">	
							<option></option>		
						  <% @especialidades.each do |esp| %>
						  	<option value="<%= esp.id %>" 
						  		<% unless interconsulta.nil?
						  				unless interconsulta.especialidad.nil?
						  					if interconsulta.especialidad.id == esp.id 
						  						%> selected <%
						  					end	 
						  				end
						  		end %> ><%= esp.nombre %></option>      			
	   					<% end %>
	  				</select>
	  			<% else %>
	  				<%= interconsulta.try(:especialidad).try(:nombre) unless interconsulta.nil? %>	
  				<% end %>
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Confirmación Diagnóstica</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.nombre %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Código CIE10</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.codigo_cie10 %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
						<% prop = 5
						unless interconsulta.nil? 
							prop = interconsulta.proposito
						end %>
					<label>Propósito:</label>
					<div class="form-group form-ges" id="int_<%= p_d.id %>">
				    <div class="radio">
				      <label for="radios-int-1-<%= p_d.id%>">
				      	<input type="radio" disabled onchange="agregarPropInt(<%= p_d.id %>,1)" id="radios-int-1-<%= p_d.id %>" name="radios-int-<%= p_d.id %>" <% if prop == 1 or (p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 0) %> checked <% end %> <%= disabled %> /> Diagnóstico
				      </label>
				    </div>					
				    <div class="radio">
				      <label for="radios-int-2-<%= p_d.id%>">
				      	<input type="radio" disabled onchange="agregarPropInt(<%= p_d.id %>,2)" id="radios-int-2-<%= p_d.id %>" name="radios-int-<%= p_d.id %>" <% if prop == 2 or (p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 1) %> checked <% end %> <%= disabled %> /> Paciente en tratamiento
				      </label>
				    </div> 						
				    <div class="radio">
				      <label for="radios-int-3-<%= p_d.id%>">
				      	<input type="radio" onchange="agregarPropInt(<%= p_d.id %>,3)" id="radios-int-3-<%= p_d.id %>" name="radios-int-<%= p_d.id %>" <% if prop == 3 %> checked <% end %> <%= disabled %> /> Seguimiento
				      </label>
				    </div>				
				    <div class="radio">
				      <label for="radios-int-4-<%= p_d.id%>">
				      	<input type="radio" onchange="agregarPropInt(<%= p_d.id %>,4)" id="radios-int-4-<%= p_d.id %>" name="radios-int-<%= p_d.id %>" <% if prop == 4 %> checked <% end %> <%= disabled %> /> Otro
				      </label>
				    </div> 
					</div>
				</div>
				<div class="col-md-8 column">
					<label class="com-int">Comentario:</label><span class="alert alert-info auto-int-comment" id="auto-int-<%= p_d.id %>">Autoguardado</span>
					<textarea id="int-comment-<%= p_d.id%>" onkeyup="autoIntComment(<%= p_d.id%>)" class="form-control" rows="4" cols="50" <%= disabled %> ><%= unless interconsulta.nil?
					 interconsulta.comentario 
					 end %></textarea>
				</div>	
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column"><label>Exámenes asociados al diagnóstico:</label>					
				</div>
				<div class="col-md-8 column">
					<div id="int_diag<%= p_d.id %>"></div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la solicitud</label>
				</div>
				<div class="col-md-8 column">:
					<%= l Time.now %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column firma">
					<label class="firma">Firma profesional</label>
				</div>
			</div>
		</div>
 	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			
			<div class="row clearfix">	
				<div class="col-md-12 column">
				En caso que la persona que tomó conocimiento no sea el paciente, identificar:			
				</div>
			</div>
			<% if tipo == 'edit' %>				  
				<div class="row clearfix">
					<div class="col-md-8 column">
						<%= render :partial => "persona/seleccionar_persona", :locals => {:persona => p_d.persona, :id => 'int_'+p_d.id.to_s, :id_pre => id_pre, :clase => 'select_interconsulta', :subgrupo => 'todos'  } %>
					</div>
					<div class="col-md-4 column">
						<a id="modal-agregar-persona" href="#modal-container-agregar-persona-int_<%= p_d.id.to_s %>" role="button" class="btn" data-toggle="modal">O agrega una persona</a>
					</div>			
				</div>
			<% end %>
			<div class="row clearfix ajus-mar-top">
				<div class="col-md-6 column">
					<label>Nombre</label>: <span id="int_nombre_<%= p_d.id %>"><%= nombre %></span>				
				</div>				
				<div class="col-md-6 column">
					<label>Rut</label>: <span id="int_rut_<%= p_d.id %>" ><%= rut %></span>					
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<label>Correo electrónico</label>: <span id="int_correo_<%= p_d.id %>" ><%= correo %></span>
				</div>			
				<div class="col-md-6 column">
					<label>Celular</label>: <span id="int_celular_<%= p_d.id %>" ><%= celular %></span>
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<label>Telefono fijo</label>: <span id="int_telefono_<%= p_d.id %>" ><%= telefono_fijo %></span>
				</div>			
				<div class="col-md-6 column">
				</div>				
			</div>

		</div>
 	</div>
</div>

<% if tipo == 'edit' %>	
	<div class="modal fade" id="modal-container-agregar-persona-int_<%= p_d.id.to_s %>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog ajuste-top modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="cerrarModalAgregarPersona('int_<%= p_d.id.to_s %>')" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Agregar persona</h4>
				</div>
				<div class="modal-body no-padding-right-left">
					<%= render :partial => "persona/agregar_persona", :locals => {:origen => p_d.id, :id => 'int_'+p_d.id.to_s, :subgrupo => 'todos' } %>
				</div>
				<div class="modal-footer"></div>
			</div>		
		</div>	
	</div>
<% end %>