<% interconsulta = p_d.getInterconsulta(p_d.id) %>	

<h1 class="enc-ges">Solicitud de Interconsulta o Derivación</h1>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del prestador</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Institución</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Dirección</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Profesional que notifica</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Rut profesional</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Especialidad</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.especialidad.nombre %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del paciente</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Nombre</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Rut</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showRut %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Previsión de salud</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getPrevision %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Domicilio</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getDomicilio %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Correo electrónico</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.user.email %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Telefono fijo</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getTelefonoFijo %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Celular</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getCelular %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Establecimiento al cual se deriva</label>
				</div>
				<div class="col-md-8 column">:
					<select id="select_prestadores<%= p_d.id %>" class="select_prestadores">	
						<option></option>					
					  <% @prestadores.each do |pres| %>
					  	<option value="<%= pres.id %>"
					  		<% unless interconsulta.nil?
					  				unless interconsulta.prestador_destino.nil?
					  	 				if interconsulta.prestador_destino.id == pres.id 
					  	 					%> selected <% 
					  	 				end	
					  	 			end
					  	 		end %> ><%= pres.nombre %></option>      			
   					<% end %>
  				</select>					
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Especialidad</label>
				</div>
				<div class="col-md-8 column">:
					<select id="select_especialidad<%= p_d.id %>" class="select_especialidad">	
						<option></option>					
					  <% @especialidades.each do |esp| %>
					  	<option value="<%= esp.id %>" 
					  		<% unless interconsulta.nil?
					  				unless interconsulta.especialidad.nil?
					  					if interconsulta.especialidad.id == esp.id 
					  						%> selected <%
					  					end	 
					  				end
					  		end %> ><%= esp.nombre %></option>      			
   					<% end %>
  				</select>
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Confirmación Diagnóstica</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.nombre %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Código CIE10</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.codigo_cie10 %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
						<% prop = 5
						unless interconsulta.nil? 
							prop = interconsulta.proposito
						end %>
					<label>Propósito:</label>
					<div class="form-group form-ges" id="int_<%= p_d.id %>">
				    <div class="radio">
				      <label for="radios-int-1"><input type="radio" name="radios-int-<%= p_d.id%>" disabled value="1" id="radios-int-1" <% if prop == 1 or (p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 0) %> checked <% end %>>Diagnóstico</label>
				    </div>					
				    <div class="radio">
				      <label for="radios-int-2"><input type="radio" name="radios-int-<%= p_d.id%>" disabled value="2" id="radios-int-2" <% if prop == 2 or (p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 1) %> checked <% end %>>Paciente en tratamiento</label>
				    </div> 						
				    <div class="radio">
				      <label for="radios-int-3"><input type="radio" name="radios-int-<%= p_d.id%>" value="3" id="radios-int-3" <% if prop == 3 %> checked <% end %>>Seguimiento</label>
				    </div>				
				    <div class="radio">
				      <label for="radios-int-4"><input type="radio" name="radios-int-<%= p_d.id%>" value="4" id="radios-int-4" <% if prop == 4 %> checked <% end %>>Otro</label>
				    </div> 
					</div>
				</div>
				<div class="col-md-8 column">
					<label class="com-int">Comentario:<label><span class="alert alert-info auto-int-comment" id="auto-int-<%= p_d.id%>">Autoguardado</span>
					<textarea id="int-comment-<%= p_d.id%>" class="form-control int-comment" rows="4" cols="50"><%= unless interconsulta.nil?
					 interconsulta.comentario 
					 end %></textarea>
				</div>	
			</div>
		</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la solicitud</label>
				</div>
				<div class="col-md-8 column">:
					<%= l Time.now %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column firma">
					<label class="firma">Firma profesional</label>
				</div>
			</div>
		</div>
 	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">	
				<div class="col-md-12 column">
				En caso que la persona que tomó conocimiento no sea el paciente, identificar:			
				</div>
			</div>			  
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label class="pers-ges">Seleccionar persona</label>									
					<a class="panel-title collapsed a-ges" data-toggle="collapse" href="#per_int_<%= p_d.id %>">Agregar persona</a>
				</div>
				<div class="col-md-8 column">:
					<input type='hidden' class="select_persona_int" id="select_persona_int<%= p_d.id %>"></input>			 		
				</div>				
			</div>
			<div class="row clearfix">
				<div id="per_int_<%= p_d.id %>" class="panel-collapse collapse panel-int2">
					<div class="panel-body">
						<div class="row clearfix">
							<div class="col-md-2 column ajuste-ges">
								<label>Nombre</label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_nom_<%= p_d.id %>" >	
							</div>
							<div class="col-md-2 column ajuste-ges">
								<label>Apellido paterno</label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_apep_<%= p_d.id %>">
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-2 column ajuste-ges">
								<label>Apellido materno</label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_apem_<%= p_d.id %>">
							</div>
							<div class="col-md-2 column ajuste-ges">
								<label>Parentesco</label> <span id='icon-ges' class="glyphicon glyphicon-info-sign"></span>
							</div>
							<div class="col-md-4 column">:
								<select id="select_parent_int_<%= p_d.id %>" name="selectbasic" class="form-control select-ges">
									<option value="" selected disabled>Seleccionar</option>
						      <option value="1">Madre</option>
						      <option value="2">Padre</option>
						      <option value="3">Hija</option>
						      <option value="4">Hijo</option>
						      <option value="5">Otro</option>
						    </select>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-2 column ajuste-ges">
								<label>Rut</label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_prut_<%= p_d.id %>">	
							</div>
							<div class="col-md-2 column ajuste-ges">
								<label><p>Dígito verificador</p></label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_pdv_<%= p_d.id %>">
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-2 column ajuste-ges">
								<label>Correo electrónico</label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_pcorreo_<%= p_d.id %>">	
							</div>
							<div class="col-md-2 column ajuste-ges">
								<label>Celular</label>
							</div>
							<div class="col-md-4 column">: <input class="form-control input-md not-ges2" id="int_pcelular_<%= p_d.id %>">
							</div>
						</div>
					</div>						
				</div>			
			</div>
			<div id="row_int_nombre_<%= p_d.id %>" class="row clearfix">
				<div class="col-md-4 column">
					<label>Nombre</label>
				</div>
				<%=
					nombre = ''
					rut = ''
					correo = ''
					celular = ''
					unless interconsulta.nil? 
						unless interconsulta.persona_conocimiento.nil? 
							nombre = interconsulta.persona_conocimiento.showName('%n%p%m')
							rut = interconsulta.persona_conocimiento.showRut
							correo = interconsulta.persona_conocimiento.user.email 
							celular = interconsulta.persona_conocimiento.getCelular
						end
					end	%>
				<div class="col-md-8 column">: <input class="form-control input-md not-ges" disabled id="int_nombre_<%= p_d.id %>" value="<%=	nombre %>">				
				</div>				
			</div>
			<div id="row_int_rut_<%= p_d.id %>" class="row clearfix">
				<div class="col-md-4 column">
					<label>Rut</label>
				</div>
				<div class="col-md-8 column">: <input class="form-control input-md not-ges" disabled id="int_rut_<%= p_d.id %>" value="<%= rut %>">					
				</div>				
			</div>
			<div id="row_int_correo_<%= p_d.id %>" class="row clearfix">
				<div class="col-md-4 column">
					<label>Correo electrónico</label>
				</div>
				<div class="col-md-8 column">: <input class="form-control input-md not-ges" disabled id="int_correo_<%= p_d.id %>" value="<%= correo %>" >						
				</div>				
			</div>
			<div id="row_int_celular_<%= p_d.id %>" class="row clearfix">
				<div class="col-md-4 column">
					<label>Celular</label>
				</div>
				<div class="col-md-8 column">: <input class="form-control input-md not-ges" disabled id="int_celular_<%= p_d.id %>" value="<%= celular %>" >					
				</div>				
			</div>
			<div class="row clearfix ges-div" id="int_div_<%= p_d.id %>">
				<div class="col-md-8 column">
				</div>
				<div class="col-md-4 column">	
					<button id="int_agregar_<%= p_d.id %>" type="button" class="btn btn-success int-agregar">Agregar persona</button>
    			<button id="int_cancelar_<%= p_d.id %>" type="button"  class="btn btn-danger int-cancelar">Cancelar</button>	
				</div>				
			</div>

		</div>
 	</div>
</div>
