<h1 class="enc-ges">Solicitud de Interconsulta o Derivación</h1>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del prestador</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Institución</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Dirección</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Profesional que notifica</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Rut profesional</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Especialidad</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.especialidad.nombre %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del paciente</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Nombre</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Rut</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showRut %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Previsión de salud</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getPrevision.prevision_salud.nombre %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Domicilio</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getDomicilio %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Correo electrónico</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.user.email %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Telefono fijo</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getTelefonoFijo %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Celular</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getCelular %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-5 column">
					<label>Establecimiento al cual se deriva</label>
				</div>
				<div class="col-md-7 column">:
					<select id="select_prestadores">	
						<option></option>					
					  <% @prestadores.each do |pres| %>
					  	<option value="<%= pres.id %>"><%= pres.nombre %></option>      			
   					<% end %>
  				</select>					
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-5 column">
					<label>Especialidad</label>
				</div>
				<div class="col-md-7 column">:
					<select id="select_especialidad">	
						<option></option>					
					  <% @especialidades.each do |esp| %>
					  	<option value="<%= esp.id %>"><%= esp.nombre %></option>      			
   					<% end %>
  				</select>
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-5 column">
					<label>Confirmación Diagnóstica</label>
				</div>
				<div class="col-md-7 column">:
					<%= p_d.diagnostico.nombre %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-5 column">
					<label>Código CIE10</label>
				</div>
				<div class="col-md-7 column">:
					<%= p_d.diagnostico.codigo_cie10 %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-12 column">
					<div class="form-group form-ges" id="ges_<%= p_d.id %>">
				    <div class="radio">
				      <label for="radios-conf-<%= p_d.id%>"><input type="radio" name="radios-ges-<%= p_d.id%>" disabled value="1" id="radios-conf-<%= p_d.id%>" <% if p_d.estado_diagnostico.id == 1 and !p_d.en_tratamiento %> checked <% end %>>Diagnóstico</label>
				    </div>					
				    <div class="radio">
				      <label for="radios-trat-<%= p_d.id%>"><input type="radio" name="radios-ges-<%= p_d.id%>" disabled value="2" id="radios-trat-<%= p_d.id%>" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento %> checked <% end %>>Paciente en tratamiento</label>
				    </div> 						
				    <div class="radio">
				      <label for="radios-trat-<%= p_d.id%>"><input type="radio" name="radios-ges-<%= p_d.id%>" value="3" id="radios-trat-<%= p_d.id%>">Seguimiento</label>
				    </div>				
				    <div class="radio">
				      <label for="radios-trat-<%= p_d.id%>"><input type="radio" name="radios-ges-<%= p_d.id%>" value="4" id="radios-trat-<%= p_d.id%>">Otro</label>
				    </div> 
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-12 column">

				</div>			
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la solicitud</label>
				</div>
				<div class="col-md-8 column">:
					<%= l Time.now %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column firma">
					<label class="firma">Firma profesional</label>
				</div>
			</div>
		</div>
 	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">	
				<div class="col-md-12 column">
				En caso que la persona que tomó conocimiento no sea el paciente, identificar:			
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Nombre</label>
				</div>
				<div class="col-md-8 column">:					
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Rut</label>
				</div>
				<div class="col-md-8 column">:					
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Correo electrónico</label>
				</div>
				<div class="col-md-8 column">:					
				</div>				
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Celular</label>
				</div>
				<div class="col-md-8 column">:					
				</div>				
			</div>

		</div>
 	</div>
</div>


