<h1 class="enc-ges">Declaración de Enfermedad de Notificación Obligatoria</h1>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del prestador</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Institución</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Dirección</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Profesional que notifica</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Rut profesional</label>
			</div>
			<div class="col-md-8 column">: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del paciente</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
	<div class="container ajustado">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Nombre</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showName('%n%p%m') %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Rut</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.showRut %>
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Previsión de salud</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getPrevision.prevision_salud.nombre %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Domicilio</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getDomicilio %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Correo electrónico</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.user.email %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Telefono fijo</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getTelefonoFijo %>
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">
				<label>Celular</label>
			</div>
			<div class="col-md-8 column">:
				<%= @agendamiento.persona.getCelular %>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Diagnóstico</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.nombre %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Código CIE10</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.codigo_cie10 %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>Fecha primeros síntomas</label> <span id='icon-eno' class="glyphicon glyphicon-info-sign"></span>
				</div>
				<div class="col-md-8 column">:
					<input name="f_s_<%= p_d.id%>" class="datepicker" type="text" value="<%= p_d.getFechaInicio %>" >
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Confirmación diagnóstica</label>
				</div>
				<div class="col-md-6 column">:
					<select id="select-conf-diag" name="selectbasic">
						<option></option>
			      <option value="1">Clínica (incluye imagenología)</option>
			      <option value="2">Epidemiológica</option>
			      <option value="3">Frotis</option>
			      <option value="4">Cultivo</option>
			      <option value="5">Serología</option>
			      <option value="6">Biopsia</option>
			      <option value="7">Autopsia</option>
			    </select>
				</div>				
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>Antecedentes de vacunación</label>
				</div>
				<div class="col-md-8 column">:
					<div class="form-group ajuste-eno">
					  <label class="radio-inline" for="radios-0"><input type="radio" name="radios" id="radios-0" value="1" checked="checked">Sí</label> 
					  <label class="radio-inline" for="radios-1"><input type="radio" name="radios" id="radios-1" value="2">No</label> 
					  <label class="radio-inline" for="radios-2"><input type="radio" name="radios" id="radios-2" value="3">Ignorado</label> 
					  <label class="radio-inline" for="radios-3"><input type="radio" name="radios" id="radios-3" value="4">No corresponde</label>
					</div>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>País de contagio</label>
				</div>
				<div class="col-md-6 column">:
					<select id="select-pais-contagio" name="selectbasic">
						<option></option>					
						  <% @paises.each do |pais| %>
						  	<option value="<%= pais.id %>"><%= pais.nombre %></option>      			
	   					<% end %>
			    </select>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>Embarazo</label>
				</div>
				<div class="col-md-8 column">:
					<div class="form-group ajuste-eno">
					  <label class="radio-inline" for="radios-0"><input type="radio" name="radios" id="radios-0" value="1" checked="checked">Sí</label> 
					  <label class="radio-inline" for="radios-1"><input type="radio" name="radios" id="radios-1" value="2">No</label> 
					  <label class="radio-inline" for="radios-3"><input type="radio" name="radios" id="radios-3" value="4">No corresponde</label>
					  <label>Semanas de gestación</label>
					  <input id="semanas" type="text" class="form-control" maxlength="2" size="2" >
					</div>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>En caso de TBC</label>
				</div>
				<div class="col-md-8 column">:
				</div>
			</div>			
		</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-12 column">

				</div>			
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la notificación</label>
				</div>
				<div class="col-md-8 column">:
					<%= l Time.now %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column firma">
					<label class="firma">Firma profesional</label>
				</div>				
			</div>
		</div>
 	</div>
</div>

<%= javascript_include_tag "atencion_salud/cargar_calendario" %>