<% notificacion_eno = p_d.getNotificacionEno(p_d.id) %>	
<% texto_eno = p_d.diagnostico.getTextoENO(p_d.id) %>
<% disabled = (tipo == 'edit' ) ? '' : 'disabled' %>	

<h1 class="enc-ges">
	<strong>Declaración de Enfermedad de Notificación Obligatoria</strong>
	<% texto_eno.each do |te| %>	<br><%= te['text'] %> <% end %>
</h1>

<%= render :partial => "datos_prestador_paciente", :locals => { :agendamiento => @agendamiento, :id => 'not_'+p_d.id.to_s  } %>

<div class="panel panel-default ges">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Diagnóstico</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.nombre %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Código CIE10</label>
				</div>
				<div class="col-md-8 column">:
					<%= p_d.diagnostico.codigo_cie10 %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>Fecha primeros síntomas</label> <span class="glyphicon glyphicon-info-sign icon-eno"></span>
				</div>
				<div class="col-md-8 column">:
					<input name="p_s_<%= p_d.id%>" id="p_s_<%= p_d.id%>" class="datepicker" type="text" value="<%= if (!notificacion_eno.nil?)
																																																					if (!notificacion_eno.fecha_primeros_sintomas.nil?)
																																																						notificacion_eno.fecha_primeros_sintomas.strftime('%Y-%m-%d')
																																																					else
																																																						p_d.getFechaInicio 	
																																																					end
																																																				 else
																																																				 	p_d.getFechaInicio
																																																				 end 
																																																				  %>" <%= disabled %> />
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Confirmación diagnóstica</label>
				</div>
				<div class="col-md-6 column">:
					<% conf = 8
						unless notificacion_eno.nil? 
							conf = notificacion_eno.confirmacion_diagnostica
						end %>
					<select id="select-confirmacion<%=p_d.id%>" class="select-confirmacion" <%= disabled %> >
						<option></option>
			      <option value="1" <% if conf == '1' %> selected <% end %> >Clínica (incluye imagenología)</option>
			      <option value="2" <% if conf == '2' %> selected <% end %> >Epidemiológica</option>
			      <option value="3" <% if conf == '3' %> selected <% end %> >Frotis</option>
			      <option value="4" <% if conf == '4' %> selected <% end %> >Cultivo</option>
			      <option value="5" <% if conf == '5' %> selected <% end %> >Serología</option>
			      <option value="6" <% if conf == '6' %> selected <% end %> >Biopsia</option>
			      <option value="7" <% if conf == '7' %> selected <% end %> >Autopsia</option>
			    </select>
				</div>				
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>Antecedentes de vacunación</label>
				</div>
						<% ant_vac = 5
						unless notificacion_eno.nil? 
							ant_vac = notificacion_eno.antecedentes_vacunacion
						end %>
				<div class="col-md-8 column">:
					<div class="form-group ajuste-eno">
					  <label class="radio-inline" for="radios-ant<%=p_d.id%>-1">
					  	<input <% if ant_vac == '1' %> checked <% end %> type="radio" name="radios-ant<%=p_d.id%>" id="radios-ant<%=p_d.id%>-1" value="1" <%= disabled %> /> Sí
					  </label> 
					  <label class="radio-inline" for="radios-ant<%=p_d.id%>-2">
					  	<input <% if ant_vac == '2' %> checked <% end %> type="radio" name="radios-ant<%=p_d.id%>" id="radios-ant<%=p_d.id%>-2" value="2" <%= disabled %> /> No
					  </label> 
					  <label class="radio-inline" for="radios-ant<%=p_d.id%>-3">
					  	<input <% if ant_vac == '3' %> checked <% end %> type="radio" name="radios-ant<%=p_d.id%>" id="radios-ant<%=p_d.id%>-3" value="3" <%= disabled %> /> Ignorado
					  </label> 
					  <label class="radio-inline" for="radios-ant<%=p_d.id%>-4">
					  	<input <% if ant_vac == '4' %> checked <% end %> type="radio" name="radios-ant<%=p_d.id%>" id="radios-ant<%=p_d.id%>-4" value="4" <%= disabled %> /> No corresponde
					  </label>
					</div>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-4 column">
					<label>País de contagio</label>
				</div>
				<div class="col-md-6 column">:
					<% if tipo == 'edit' %>
						<select id="select-pais-contagio<%= p_d.id%>" class="select-pais-contagio">
							<option></option>					
							  <% @paises.each do |pais| %>
							  	<option value="<%= pais.id %>"
							  		<% unless notificacion_eno.nil?
							  			unless notificacion_eno.pais_contagio.nil? 
						  					if notificacion_eno.pais_contagio.id == pais.id 
						  		%> selected <% 
						  					end
						  				end
						  		end %> ><%= pais.nombre %></option>      			
		   					<% end %>
				    </select>
			    <% else %>
			    	<%= notificacion_eno.try(:pais_contagio).try(:nombre) unless notificacion.nil? %>
			    <% end %>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-2 column">
					<label class="eno">Embarazo</label>
				</div>
						<% emb = 4
						unless notificacion_eno.nil? 
							emb = notificacion_eno.embarazo
						end %>
				<div class="col-md-5 column"><span class="eno">:</span>
				  <label class="radio-inline" for="radios-emb<%=p_d.id%>-1">
				  	<input <% if emb == '1' %> checked <% end %> type="radio" name="radios-emb<%=p_d.id%>" id="radios-emb<%=p_d.id%>-1" value="1" <%= disabled %> /> Sí
				  </label> 
				  <label class="radio-inline" for="radios-emb<%=p_d.id%>-2">
				  	<input <% if emb == '2' %> checked <% end %> type="radio" name="radios-emb<%=p_d.id%>" id="radios-emb<%=p_d.id%>-2" value="2" <%= disabled %> /> No
				  </label> 
				  <label class="radio-inline" for="radios-emb<%=p_d.id%>-3">
				  	<input <% if emb == '3' %> checked <% end %> type="radio" name="radios-emb<%=p_d.id%>" id="radios-emb<%=p_d.id%>-3" value="3" <%= disabled %> /> No corresponde
				  </label>	  
				</div>
				<div class="col-md-3 column">
					<label class="eno">Semanas de gestación</label>
				</div>
				<div class="col-md-2 column colum-ajuste-eno">
					<span>:</span><input id="semanas-<%=p_d.id%>" type="integer" class="form-control sem-ges" maxlength="2" size="2" value="<%= notificacion_eno.try(:semanas_gestacion) unless notificacion_eno.nil? %>" <%= disabled %> />
				</div>
			</div>			
			<div class="row clearfix">	
				<div class="col-md-3 column">
					<label class="eno">En caso de TBC</label>
				</div>
					<% tbc = 4
						unless notificacion_eno.nil? 
							tbc = notificacion_eno.tbc
						end %>
				<div class="col-md-9 column"><span class="eno">:</span>
					<div class="form-group ajuste-eno">
					  <label class="radio-inline" for="radios-tbc<%=p_d.id%>-1">
					  	<input <% if tbc == '1' %> checked <% end %> type="radio" name="radios-tbc<%=p_d.id%>" id="radios-tbc<%=p_d.id%>-1" value="1" <%= disabled %> /> Caso nuevo
					  </label> 
					  <label class="radio-inline" for="radios-tbc<%=p_d.id%>-2">
					  	<input <% if tbc == '2' %> checked <% end %>type="radio" name="radios-tbc<%=p_d.id%>" id="radios-tbc<%=p_d.id%>-2" value="2" <%= disabled %> /> Recaída, igual localización
					  </label> 
					  <label class="radio-inline" for="radios-tbc<%=p_d.id%>-3">
					  	<input <% if tbc == '3' %> checked <% end %>type="radio" name="radios-tbc<%=p_d.id%>" id="radios-tbc<%=p_d.id%>-3" value="4" <%= disabled %> /> Recaída, otra localización
					  </label>					  
					</div>
				</div>
			</div>			
		</div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body panel-body-ajustado">
		<div class="container ajustado">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la notificación</label>
				</div>
				<div class="col-md-8 column">:
					<%= l Time.now %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column firma">
					<label class="firma">Firma profesional</label>
				</div>				
			</div>
		</div>
 	</div>
</div>

<%= javascript_include_tag "atencion_salud/cargar_calendario" %>