<% disabled = tipo == 'edit' ? '' : 'disabled' %>
<% disabled_est_diag = (tipo == 'reabrir' or tipo == 'edit') ? '' : 'disabled' %>
<% class_oculto =  p_d.estado_diagnostico.id == 1 ? '' : 'oculto' %> 
<div class="modal fade modal-diag" id="modal-container-diag-<%= p_d.id%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= p_d.diagnostico.nombre %></h4>
      </div>
      <div class="modal-body">
        <div class="tabbable" >
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#panel-diagnostico-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Diagnóstico</a>
            </li>
            <li>
              <a href="#panel-interconsulta-<%= p_d.id %>" id="link-int-<%= p_d.id %>"  class="panel_tab panel_interconsulta" data-toggle="tab">Interconsulta</a>
            </li>
            <% if p_d.diagnostico.esAuge(p_d.id) %>
              <li>
                <a href="#panel-constancia-ges-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Constancia GES</a>
              </li>
            <% end %>
            <% if p_d.diagnostico.esENO(p_d.id) %> 
              <li>
                <a href="#panel-notificacion-obligatoria-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Notificación obligatoria</a>
              </li>
            <% end %>   
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="panel-diagnostico-<%= p_d.id %>">
              <div class="container ajustado">                
                <div class="row clearfix">
                  <div class="form-group">
                    <div class="col-md-4">
                      <div class="checkbox" id="enf_cro_<%= p_d.id %>">
                        <label class="checkbox-der" for="checkboxes-cron-<%= p_d.id %>"><input class="checkbox-der" type="checkbox" name="checkboxes" onchange="actualizarEnfCron(<%= p_d.id %>)" id="checkboxes-cron-<%= p_d.id %>" <% if p_d.es_cronica %> checked="checked" <% end %> <%= disabled %> > Enfermerdad crónica</label>
                      </div>                
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-4 column">
                    <label>Fecha inicio</label>
                  </div>
                  <div class="col-md-8 column">
                    <input name="f_i_<%= p_d.id%>" class="datepicker" type="text" value="<%= p_d.getFechaInicio %>" <%= disabled %> />
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-4 column">
                    <label>Fecha término</label>
                  </div>
                  <div class="col-md-8 column">
                    <input name="f_t_<%= p_d.id%>" class="datepicker" type="text" value="<%= p_d.getFechaTermino %>" <%= disabled %> />
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-3 column">
                    <div class="form-group form-estado" id="e_d_<%= p_d.id %>">
                      <label class="control-label" for="radios">Estado de diagnóstico</label>          
                        <% @estados_diagnostico.each do |e_d| %>  
                          <div class="radio">
                            <label for="radios-<%= p_d.id%>-<%= e_d.id %>">
                              <input type="radio" <% if tipo != 'reabrir' %> onchange="actualizarEstado(<%= p_d.id%>,<%= e_d.id %>)" <% end %> name="radios-estado-<%= p_d.id%>" value="<%= e_d.id %>" id="radios-<%= p_d.id%>-<%= e_d.id %>" <% if p_d.estado_diagnostico.id ==  e_d.id  %> checked <% end %> <%= disabled_est_diag %> />
                              <%= e_d.nombre %>
                            </label>
                          </div> 
                        <% end %>                    
                    </div>
                  </div>                          
                  <div id="checkboxes-trat-div-<%= p_d.id %>" class="col-md-9 column <%= class_oculto %>">
                    <div class="form-group trat">                      
                      <div class="checkbox" id="trat_<%= p_d.id %>">
                        <label class="checkbox-der trat" for="checkboxes-trat-<%= p_d.id %>">
                          <input type="checkbox" name="checkboxes" id="checkboxes-trat-<%= p_d.id %>" <% if p_d.en_tratamiento == 1%> checked="checked" <% end %> <%= disabled %> /> No es el primer diagnóstico o el paciente ya estaba en tratamiento
                        </label>
                      </div>                      
                    </div>
                  </div>                  
                </div>
                <div class="row clearfix"> 
                <% if tipo == 'reabrir' %>                  
                  <div class="col-md-2 column">
                    <button type="button" onclick="guardarDiagReabrir(<%= p_d.id%>)" class="btn btn-xs btn-success">Guardar nuevo estado</button>
                  </div>
                <% end %>
                <% if p_d.tieneCambioEstado ( p_d.id ) or tipo == 'reabrir' %>    
                  <div class="col-md-10 column">
                    Historial de cambios:
                    <fieldset>
                      <div id="reabrir-estado-diag-<%= p_d.id%>">
                        <% FiPersonaDiagnosticosAtencionesSalud.find(p_d.id).reabrir_estado_diagnostico.each do |r_e_d| %>
                          <%= render :partial => "persona_diagnostico/reabrir_estado_diagnostico", :locals => {:r_e_d => r_e_d} %>
                        <% end %>
                      </div>
                    </fieldset>
                  </div>                  
                <% end %>
                </div>
                <div class="row clearfix">  
                  <div class="col-md-12 column">  
                    <label>Comentario</label><span id="comentario-<%= p_d.id %>" class='comentario'>Autoguardado</span>
                    <textarea class="form-control" rows="3" id="comentario_<%= p_d.id %>" onkeyup='autoguardarComentarioOnkeyup(<%= p_d.id %>)' <%= disabled %> ><%= p_d.comentario %></textarea>
                  </div>                  
                </div>
                <div class="row clearfix footer">
                <% if tipo == 'edit' %>
                  <div class="col-md-12 column">
                    <button type="button" onclick="guardarDiagnostico(<%= p_d.id%>,true)" class="btn btn-success ajus-pos-right">Guardar</button>
                    <button type="button" onclick="eliminarDiagnostico(<%= p_d.id%>)" class="btn btn-danger ajus-pos-right" id="bc<%= p_d.id%>"> Eliminar diagnóstico</button>
                    <button type="button" onclick="cerrarDiagnostico(<%= p_d.id%>)" class="btn btn-default ajus-pos-right" >Cerrar ventana</button> 
                    <button type="button" onclick="sinCambios(<%= p_d.id%>)" class="btn btn-warning ajus-pos-right" >No guardar cambios</button> 
                  </div> 
                <% end %>                   
                </div>
              </div> <!--Cierre container -->
            </div> <!--Cierre panel diagnostico -->

            <div class="tab-pane" id="panel-interconsulta-<%= p_d.id %>">
              <div class="container no-padding-right-left ">  
                <div class="row clearfix">
                  <div class="col-md-12 column no-padding-right-left">              
                    <%= render :partial => "persona_diagnostico/interconsulta", :locals => {:p_d => p_d, :@agendamiento => @agendamiento, :tipo => tipo } %>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-12 column">
                    <% if tipo == 'edit' %>
                      <button type="button" class="btn btn-success ajus-pos-right">Guardar Interconsulta</button>
                    <% end %>  
                    <%= link_to 'Descargar Interconsulta', descargar_interconsulta_path(:id => p_d.id, :ag => @agendamiento.id, :format => :pdf) , :method => :post, :class => 'btn btn-primary btn-large',:onclick => 'guardarInterconsulta('<<p_d.id.to_s<<')' %> 
                  </div>
                </div>                
              </div> <!--Cierre container -->
            </div>

            <% if p_d.diagnostico.esAuge(p_d.id) %>
              <div class="tab-pane" id="panel-constancia-ges-<%= p_d.id %>">
                <div class="container no-padding-right-left">  
                  <div class="row clearfix">
                    <div class="col-md-12 column no-padding-right-left">              
                      <%= render :partial => "persona_diagnostico/constancia_ges", :locals => {:p_d => p_d, :@agendamiento => @agendamiento, :tipo => tipo} %>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-md-12 column">
                      <% if tipo == 'edit' %>
                        <button type="button" class="btn btn-success ajus-pos-right">Guardar Constancia GES</button>
                      <% end %>            
                      <%= link_to 'Descargar Constancia GES', descargar_constancia_ges_path(:id => p_d.id, :ag => @agendamiento.id, :format => :pdf) , :method => :post, :class => 'btn btn-primary btn-large' %>
                    </div>
                  </div>                
                </div> 
              </div> 
            <% end %>

            <% if p_d.diagnostico.esENO(p_d.id) %>
              <div class="tab-pane" id="panel-notificacion-obligatoria-<%= p_d.id %>">
                <div class="container ajustado">  
                  <div class="row clearfix">
                    <div class="col-md-12 column">              
                      <%= render :partial => "persona_diagnostico/notificacion_obligatoria", :locals => {:p_d => p_d, :@agendamiento => @agendamiento, :tipo => tipo} %>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-md-12 column">
                      <% if tipo == 'edit' %>
                        <button type="button" class="btn btn-success ajus-pos-right">Guardar Notificación Obligatoria</button>
                      <% end %>                 
                      <%= link_to 'Descargar Notificación Obligatoria', descargar_notificacion_obligatoria_path(:id => p_d.id, :ag => @agendamiento.id, :format => :pdf) , :method => :post, :class => 'btn btn-primary btn-large'%> 
                    </div>
                  </div>                
                </div> 
              </div> 
            <% end %>

          </div>
        </div> 

      </div>
      
    </div>            
  </div>        
</div>

<%= javascript_include_tag "atencion_salud/cargar_calendario" %>