<div class="modal fade modal-diag" id="modal-container-diag-<%= p_d.id%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= p_d.diagnostico.nombre %></h4>
      </div>
      <div class="modal-body">
        <div class="tabbable" >
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#panel-diagnostico-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Diagnóstico</a>
            </li>
            <li>
              <a href="#panel-interconsulta-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Interconsulta</a>
            </li>
            <% if p_d.diagnostico.auge %>
              <li>
                <a href="#panel-constancia-ges-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Constancia GES</a>
              </li>
            <% end %> 
              <li>
                <a href="#panel-notificacion-obligatoria-<%= p_d.id %>" class="panel_tab" data-toggle="tab">Notificación obligatoria</a>
            </li> 
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="panel-diagnostico-<%= p_d.id %>">
              <div class="container ajustado">                
                <div class="row clearfix">

                  <div class="form-group">
                    <div class="col-md-4">
                      <div class="checkbox" id="enf_cro_<%= p_d.id %>">
                        <label class="checkbox-der" for="checkboxes-cron-<%= p_d.id %>">Enfermerdad crónica<input class="checkbox-der" type="checkbox" name="checkboxes" id="checkboxes-cron-<%= p_d.id %>" value="1" <% if p_d.es_cronica %> checked="checked" <% end %> ></label>
                      </div>                
                    </div>
                  </div>

                </div>

                <div class="row clearfix">
                  <div class="col-md-4 column">
                    <label>Fecha inicio</label>
                  </div>
                  <div class="col-md-8 column">
                    <input name="f_i_<%= p_d.id%>" class="datepicker" type="text" value="<%= p_d.getFechaInicio %>">
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-4 column">
                    <label>Fecha término</label>
                  </div>
                  <div class="col-md-8 column">
                    <input name="f_t_<%= p_d.id%>" class="datepicker" type="text" value="<%= p_d.getFechaTermino %>">
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-12 column">
                    <div class="form-group form-estado" id="e_d_<%= p_d.id %>">
                      <label class="control-label" for="radios">Estado de diagnóstico</label>
                      <div>
                        <% @estados_diagnostico.each do |e_d| %>  
                          <div class="radio">
                            <label for="radios-<%= p_d.id%>-<%= e_d.id %>"><input type="radio" name="radios-<%= p_d.id%>" value="<%= e_d.id %>" id="radios-<%= p_d.id%>-<%= e_d.id %>" <% if p_d.estado_diagnostico.id ==  e_d.id  %> checked <% end %> ><%= e_d.nombre %></label>
                          </div> 
                        <% end %>  
                      </div>
                    </div>
                    <label>Comentario</label><span id="comentario-<%= p_d.id %>" class="alert alert-info comentario">Autoguardado</span>
                    <textarea class="form-control comentario" rows="3" id="comentario_<%= p_d.id %>"><%= p_d.comentario %></textarea>
                  </div>                  
                </div>
                <div class="row clearfix footer">
                  <div class="col-md-12 column">
                    <button type="button" onclick="cerrarDiagnostico(<%= p_d.id%>)" class="btn btn-default" >Cancelar</button>
                    <button type="button" onclick="guardarDiagnostico(<%= p_d.id%>)" class="btn btn-primary">Guardar</button>
                    <button type="button" onclick="eliminarDiagnostico(<%= p_d.id%>)" class="btn btn-danger" id="bc<%= p_d.id%>" >Eliminar diagnóstico</button> 
                  </div>                  
                </div>
              </div> <!--Cierre container -->
            </div> <!--Cierre panel diagnostico -->

            <div class="tab-pane" id="panel-interconsulta-<%= p_d.id %>">              
            </div>

            <% if p_d.diagnostico.auge %>
              <div class="tab-pane" id="panel-constancia-ges-<%= p_d.id %>">
                <div class="container ajustado">  
                  <div class="row clearfix">
                    <div class="col-md-12 column">              
                      <%= render :partial => "persona_diagnostico/constancia_ges", :locals => {:p_d => p_d, :@agendamiento => @agendamiento} %>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-md-12 column">              
                      <%= link_to 'Descargar Constancia GES', descargar_constancia_ges_path(:id => p_d.id,:format => :pdf) , :method => :post, :class => 'btn btn-primary btn-large'%> 
                    </div>
                  </div>
                
                </div> <!--Cierre container -->
              </div> <!--Cierre panel constancia -->
            <% end %>

            <div class="tab-pane" id="panel-notificacion-obligatoria-<%= p_d.id %>">
            </div>
          </div>
        </div> 


      </div>
      <div class="modal-footer">
      </div>
    </div>            
  </div>        
</div>

<%= javascript_include_tag "atencion_salud/cargar_calendario" %>