<% if p_d.es_antecedente == 1 or p_d.es_antecedente == true %>
	<a href="#modal-container-diag-<%= p_d.id%>" data-toggle="modal" class="list-group-item" id="pd_ant<%= p_d.id%>" >
		<% if MedDiagnosticos.find(p_d.diagnostico_id).esAuge(p_d.id) %>
			<p class="list-group-item-text ajuste"><%= p_d.codigo_cie10 + ' ' + p_d.nombre %> (hace <%= distance_of_time_in_words(DateTime.current,p_d.fecha_inicio) %>)</p>
			<button class="alert alert-success boton-auge" >AUGE</button>		
		<% else %>
			<p class="list-group-item-text"><%= p_d.codigo_cie10 + ' ' + p_d.nombre %></p>
		<% end %>
	</a>
<% elsif p_d.es_antecedente == 0 or p_d.es_antecedente == false %>
	<a href="#modal-container-diag-ant<%= p_d.id%>" data-toggle="modal" class="list-group-item" id="pd_ant<%= p_d.id%>" >
		<% if p_d.diagnostico.esAuge(p_d.id)  %>
			<p class="list-group-item-text ajuste"><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %> (hace 2 años)</p>
			<button class="alert alert-success boton-auge" >AUGE</button>		
		<% else %>
			<p class="list-group-item-text"><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %></p>
		<% end %>
	</a>
<% end %>