<%= wicked_pdf_stylesheet_link_tag 'application' %>
<% notificacion = p_d.getNotificacion(p_d.id) %>
<% persona_notificacion = notificacion.persona_conocimiento %>

<label class="folio">Folio: <%= notificacion.id %></label><br>
<h5 class="uppercase" align="center">Formulario de constancia de información al paciente GES</h5>
<h5 align="center" class="no-margin-top">(Artículo 24°, Ley 19.996)</h5>
<h6 class="uppercase">Datos del prestador</h6>
<table class="print2">
  <tr>
    <td>
      <label>Institución</label>: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %><br>
      <label>Dirección</label>: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %><br>
      <label>Teléfono</label>: <%= @agendamiento.especialidad_prestador_profesional.prestador.getTelefono %><br>
      <label>Profesional que notifica</label>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %><br>
      <label>Rut profesional</label>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %>
    </td>
  </tr>
</table> 
<h6 class="uppercase">Datos del paciente</h6>
<table class="print2">
  <tr>
    <td>
      <label>Nombre</label>: <%= @agendamiento.persona.showName('%n%p%m') %><br>
      <label>Rut</label>: <%= @agendamiento.persona.showRut %><br>
      <label>Previsión de salud</label>: <%= @agendamiento.persona.getPrevision %><br>
      <label>Domicilio</label>: <%= @agendamiento.persona.getDomicilio %><br>
      <label>Correo electrónico</label>: <%= @agendamiento.persona.user.email %><br>
      <label>Telefono fijo</label>: <%= @agendamiento.persona.getTelefonoFijo %><br>     
      <label>Celular</label>: <%= @agendamiento.persona.getCelular %>
    </td>
  </tr>
</table>  
<h6 class="uppercase">Información médica</h6>
<table class="print2">
  <tr>
    <td>
      <label>Diagnóstico</label>: <%= p_d.diagnostico.nombre %><br>
      <label>Código CIE10</label>: <%= p_d.diagnostico.codigo_cie10 %><br>
      <input type="radio" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento  == 0 %> checked <% end %>>  Confirmación diagnóstica  </label>
      <input type="radio" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 1 %> checked <% end %>>  Paciente en tratamiento</label>
    </td>
  </tr>
</table>
<h6 class="uppercase">Constancia:</h6>
<p class="texto_font_bajo">Declaro que, con esta fecha y hora, he tomado conocimiento que tengo derecho a acceder a las Garantías Explícitas en Salud, siempre que la atención sea otorgada en la red de Prestadores que me corresponde según Fonasa o Isapre, a la que me encuentro adscrito.</p>
<h6 class="uppercase">Importante:</h6>
<p class="texto_font_bajo">Tenga presente que si no se cumplen las garantías usted puede reclamar ante Fonasa o la Isapre, según corresponda. Si la respuesta no es satisfactoria, usted puede recurrir en segunda instancia a la Superintendencia de Salud.</p>

<label class="uppercase">Fecha y hora de la notificación</label>: <%= l Time.now %>

<br><br><br><br>
<table class="print3">
  <tr>
    <td class="overline">Informa Diagnóstico GES</td>
    <td class="overline">Tomé conocimiento</td>
  </tr>
  <tr>
    <td>(Firma de persona que notifica)</td>
    <td>(Firma o huella digital del paciente)</td>
  </tr>
</table>  

En caso que la persona que tomó conocimiento no sea el paciente, identificar:   
<br>
<label>Nombre</label>: <span id="ges_nombre_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.showName('%n%p%m') %></span><br>
<label>Rut</label>: <span id="ges_rut_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.showRut %></span><br>
<label>Correo electrónico</label>: <span id="ges_correo_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.user.email %></span><br>  
<label>Celular</label>: <span id="ges_celular_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.getCelular %></span>

<div class="div-bottom">
  <p>Generado en 
  <%= wicked_pdf_image_tag 'logo_medracer_small.png', :class => 'logo-bottom' %>
  www.medracer.com
  </p>
</div>

<br><br><br><br><br><br><br><br>

<h6 class="uppercase">Problemas de Salud Garantizados según Decreto Supremo N°4, de 2013</h6>
<ol class="print">  
  <%= render :partial => "atenciones_salud/lista_ges" %>
</ol>

<div class="div-bottom2">
  <p>Generado en 
  <%= wicked_pdf_image_tag 'logo_medracer_small.png', :class => 'logo-bottom' %>
  www.medracer.com
  </p>
</div>
