<%= wicked_pdf_stylesheet_link_tag 'application' %>
<% notificacion = p_d.getNotificacion(p_d.id) %>
<% persona_notificacion = notificacion.persona_conocimiento %>

<label class="folio">Folio: <%= notificacion.id %></label><br>
<h5 class="uppercase" align="center">Formulario de constancia de información al paciente GES</h5>
<h5 align="center" class="no-margin-top">(Artículo 24°, Ley 19.996)</h5>
<h6 class="uppercase">Datos del prestador</h6>
<table class="print2">
  <tr>
    <td>
      <label>Institución</label>: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %><br>
      <label>Dirección</label>: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %><br>
      <label>Profesional que notifica</label>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %><br>
      <label>Rut profesional</label>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %>
    </td>
  </tr>
</table> 
<h6 class="uppercase">Datos del paciente</h6>
<table class="print2">
  <tr>
    <td>
      <label>Nombre</label>: <%= @agendamiento.persona.showName('%n%p%m') %><br>
      <label>Rut</label>: <%= @agendamiento.persona.showRut %><br>
      <label>Previsión de salud</label>: <%= @agendamiento.persona.getPrevision %><br>
      <label>Domicilio</label>: <%= @agendamiento.persona.getDomicilio %><br>
      <label>Correo electrónico</label>: <%= @agendamiento.persona.user.email %><br>
      <label>Telefono fijo</label>: <%= @agendamiento.persona.getTelefonoFijo %><br>     
      <label>Celular</label>: <%= @agendamiento.persona.getCelular %>
    </td>
  </tr>
</table>  
<h6 class="uppercase">Información médica</h6>
<table class="print2">
  <tr>
    <td>
      <label>Diagnóstico</label>: <%= p_d.diagnostico.nombre %><br>
      <label>Código CIE10</label>: <%= p_d.diagnostico.codigo_cie10 %><br>
      <input type="radio" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento  == 0 %> checked <% end %>>  Confirmación diagnóstica  </label>
      <input type="radio" <% if p_d.estado_diagnostico.id == 1 and p_d.en_tratamiento == 1 %> checked <% end %>>  Paciente en tratamiento</label>
    </td>
  </tr>
</table>
<h6 class="uppercase">Constancia:</h6>
<p class="texto_font_bajo">Declaro que, con esta fecha y hora, he tomado conocimiento que tengo derecho a acceder a las Garantías Explícitas en Salud, siempre que la atención sea otorgada en la red de Prestadores que me corresponde según Fonasa o Isapre, a la que me encuentro adscrito.</p>
<h6 class="uppercase">Importante:</h6>
<p class="texto_font_bajo">Tenga presente que si no se cumplen las garantías usted puede reclamar ante Fonasa o la Isapre, según corresponda. Si la respuesta no es satisfactoria, usted puede recurrir en segunda instancia a la Superintendencia de Salud.</p>

<label class="uppercase">Fecha y hora de la notificación</label>: <%= l Time.now %>

<br><br><br><br>
<table class="print3">
  <tr>
    <td class="overline">Informa Diagnóstico GES</td>
    <td class="overline">Tomé conocimiento</td>
  </tr>
  <tr>
    <td>(Firma de persona que notifica)</td>
    <td>(Firma o huella digital del paciente)</td>
  </tr>
</table>  

En caso que la persona que tomó conocimiento no sea el paciente, identificar:   
<br>
<label>Nombre</label>: <span id="ges_nombre_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.showName('%n%p%m') %></span><br>
<label>Rut</label>: <span id="ges_rut_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.showRut %></span><br>
<label>Correo electrónico</label>: <span id="ges_correo_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.user.email %></span><br>  
<label>Celular</label>: <span id="ges_celular_<%= p_d.id %>"><%= persona_notificacion.nil? ? '' : persona_notificacion.getCelular %></span>

<div class="div-bottom">
  <p>Generado en 
  <%= wicked_pdf_image_tag 'logo_medracer_small.png', :class => 'logo-bottom' %>
  www.medracer.com
  </p>
</div>

<br><br><br><br><br><br><br><br>

<h6 class="uppercase">Problemas de Salud Garantizados según Decreto Supremo N°4, de 2013</h6>
<ol class="print">  
  <li>Enfermedad renal crónica etapa 4 y 5</li>
  <li>Cardiopatías Congénitas Operables en menores de 15 años</li>
  <li>Cáncer Cérvicouterino</li>
  <li>Alivio del dolor y cuidados paliativos por cáncer avanzado</li>
  <li>Infarto Agudo del Miocardio</li>
  <li>Diabetes Mellitus Tipo 1</li>
  <li>Diabetes Mellitus Tipo 2</li>
  <li>Cáncer de Mama en personas de 15 años y más</li>
  <li>Disrafias Espinales</li>
  <li>Tratamiento Quirúrgico de Escoliosis en personas menores de 25 años</li>
  <li>Tratamiento Quirúrgico de Cataratas</li>
  <li>Endoprotesis Total de Cadera en personas de 65 años y más con Artrosis de Cadera con Limitación Funcional Severa</li>
  <li>Fisura Labiopalatina</li>
  <li>Cáncer en personas menores de 15 años</li>
  <li>Esquizofrenia</li>
  <li>Cáncer de Testículo en personas de 15 años y más</li>
  <li>Linfomas en personas de 15 años y más</li>
  <li>Síndrome de la Inmunodeficiencia Adquirida VIH/SIDA</li>
  <li>Infección Respiratoria Aguda (IRA) de manejo ambulatorio en personas menores de 5 años</li>
  <li>Neumonía Adquirida en la Comunidad de manejo ambulatorio en personas de 65 años y más</li>
  <li>Hipertensión Arterial Primaria o Esencial en personas de 15 años y más</li>
  <li>Epilepsia No Refractaria en personas desde 1 año y menores de 15 años</li>
  <li>Salud Oral Integral para niños y niñas de 6 años</li>
  <li>Prevención de Parto Prematuro</li>
  <li>Trastornos de Generación del Impulso y Conducción en personas de 15 años y más, requieren marcapaso</li>
  <li>Colecistectomía Preventiva del Cáncer de Vesícula en personas de 35 a 49 años</li>
  <li>Cáncer Gástrico</li>
  <li>Cáncer de Próstata en personas de 15 años y más</li>
  <li>Vicios de Refracción en personas de 65 años y más</li>
  <li>Estrabismo en personas menores de 9 años</li>
  <li>Retinopatía Diabética</li>
  <li>Desprendimiento de Retina Regmatógeno no traumático</li>
  <li>Hemofilia</li>
  <li>Depresión en personas de 15 años y más</li>
  <li>Tratamiento de la Hiperplasia Benigna de la Próstata en personas sintomáticas</li>
  <li>Órtesis (o ayudas técnicas) para personas de 65 años y más</li>
  <li>Accidente Cerebrovascular Isquémico en personas de 15 Años y más</li>
  <li>Enfermedad Pulmonar Obstructiva Crónica de tratamiento ambulatorio</li>
  <li>Asma Bronquial Moderada y Grave en menores de 15 años</li>
  <li>Síndrome de Dificultad Respiratoria en el Recién Nacido</li>
  <li>Tratamiento médico en personas de 55 años y más con artrosis de cadera y/o rodilla, leve o moderada</li>
  <li>Hemorragia subaracnoidea secundaria a ruptura de aneurismas cerebrales</li>
  <li>Tumores primarios del sistema nervioso central en personas de 15 años o más.</li>
  <li>Tratamiento quirúrgico de hernia del núcleo pulposo lumbar</li>
  <li>Leucemia en personas de 15 años y más</li>
  <li>Urgencia odontológica ambulatoria</li>
  <li>Salud oral integral del adulto de 60 años</li>
  <li>Politraumatizado grave</li>
  <li>Traumatismo cráneo encefálico moderado o grave</li>
  <li>Trauma ocular grave</li>
  <li>Fibrosis Quística</li>
  <li>Artritis reumatoidea</li>
  <li>Consumo perjudicial o dependencia de riesgo bajo a moderado de alcohol y drogas en personas menores de 20 años</li>
  <li>Analgesia del parto</li>
  <li>Gran quemado</li>
  <li>Hipoacusia bilateral en personas de 65 años y más que requieren uso de audífono</li>
  <li>Retinopatía del prematuro</li>
  <li>Displasia broncopulmonar del prematuro</li>
  <li>Hipoacusia neurosensorial bilateral del prematuro</li>
  <li>Epilepsia no refractaria en personas de 15 años y más</li>
  <li>Asma bronquial en personas de 15 años y más</li>
  <li>Enfermedad de parkinson</li>
  <li>Artritis idiopática juvenil</li>
  <li>Prevencion secundaria enfermedad renal crónica terminal</li>
  <li>Displasia luxante de caderas</li>
  <li>Salud oral integral de la embarazada</li>
  <li>Esclerosis múltiple remitente recurrente</li>
  <li>Hepatitis crónica por virus hepatitis B</li>
  <li>Hepatitis C</li>
  <li>Cáncer colorectal en personas de 15 años y más</li>
  <li>Cáncer de ovario epitelial</li>
  <li>Cáncer vesical en personas de 15 años y más</li>
  <li>Osteosarcoma en personas de 15 años y más</li>
  <li>Tratamiento quirúrgico de lesiones crónicas de la válvula aórtica en personas de 15 años y más</li>
  <li>Trastorno bipolar en personas de 15 años y más</li>
  <li>Hipotiroidismo en personas de 15 años y más</li>
  <li>Tratamiento de hipoacusia moderada en menores de 2 años</li>
  <li>Lupus eritematoso sistémico</li>
  <li>Tratamiento quirúrgico de lesiones crónicas de las válvulas mitral y tricúspide en personas de 15 años y más</li>
  <li>Tratamiento de erradicación del helicobacter pylori</li>
</ol>

<div class="div-bottom2">
  <p>Generado en 
  <%= wicked_pdf_image_tag 'logo_medracer_small.png', :class => 'logo-bottom' %>
  www.medracer.com
  </p>
</div>
