<%= wicked_pdf_stylesheet_link_tag 'application' %>
<%  
	nombre = ''
	rut = ''
	correo = ''
	celular = ''
	unless @interconsulta.nil? 
		unless @interconsulta.persona_conocimiento.nil? 
			nombre = @interconsulta.persona_conocimiento.showName('%n%p%m')
			rut = @interconsulta.persona_conocimiento.showRut
			correo = @interconsulta.persona_conocimiento.user.email 
			celular = @interconsulta.persona_conocimiento.getCelular
		end
	end	
%>

<label class="folio">Folio: <%= @interconsulta.id %></label><br>
<h2 class="print" align="center">Solicitud de Interconsulta o Derivación</h2>
<label class="print">Fecha y hora de la solicitud: <%= l Time.now %></label>
<br>
<table class='print'>
	<tr>
		<td><label>Establecimiento</label>: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %></td>
		<td><label>Especialidad</label>: <%= @agendamiento.especialidad_prestador_profesional.especialidad.nombre %></td>		
	</tr>
</table>

<label class="rotate ro-pac">Datos del paciente</label>
<table class='print aj-marg-left '>
	<tr>
		<td><label>Apellido paterno</label>: <%= @agendamiento.persona.showName('%p') %></td>
		<td><span class="print">Apellido materno</span>: <%= @agendamiento.persona.showName('%m') %></td>
		<td><label>Nombres</label>: <%= @agendamiento.persona.showName('%n') %></td>
	</tr>
	<tr>
		<td><label>Rut</label>: <%= @agendamiento.persona.showRut %></td>
		<td><label>Edad</label>: <%= @agendamiento.persona.age_text %></td>
		<td><label>Sexo</label>: <%= @agendamiento.persona.showSexo %></td>
	</tr>
	<tr>
		<td><span class="print">Previsión de salud</span>: <%= @agendamiento.persona.getPrevision %></td>
		<td colspan="2"><label>Domicilio</label>: <%= @agendamiento.persona.getDomicilio %></td>
	</tr>
	<tr>
		<td><label>Correo electrónico</label>:	<%= @agendamiento.persona.user.email %></td>
		<td><label>Telefono fijo</label>: <%= @agendamiento.persona.getTelefonoFijo %></td>
		<td><label>Celular</label>: <%= @agendamiento.persona.getCelular %></td>
	</tr>
	<tr>
		<td colspan="3"><span class="print">En caso de que la perona que tomó conocimiento no sea el paciente:</span></td>
	</tr>
	<tr>	
		<td colspan="2"><label>Nombre</label>: <%= nombre %></td>
		<td><label>Rut</label>: <%= rut %></td>
	</tr>
	<tr>		
		<td colspan="2"><label>Correo electrónico</label>: <%= correo %></td>
		<td><label>Celular</label>: <%= celular %>
	</tr>
</table>

<label class="rotate ro-cli">Datos clínicos</label>
<table class='print aj-marg-left'>
	<tr>
		<td colspan="2"><span class="print">Establecimiento al cual se deriva</span>: <%= @interconsulta.prestador_destino_texto unless @interconsulta.prestador_destino_texto.nil? %></td>
	</tr>
	<tr>
		<td colspan="2"><label>Especialidad</label>: <%= @interconsulta.especialidad.nombre unless @interconsulta.especialidad.nil? %></td>
	</tr>
	<tr>
		<td><span class="print">Confirmación Diagnóstica</span>:	<%= p_d.diagnostico.nombre %></td>
		<td><span class="print">Código CIE10</span>:	<%= p_d.diagnostico.codigo_cie10 %></td>
	</tr>
	<tr>
		<td>
			<span class="print">Propósito:</span><br>
			<input type="radio" <% if @interconsulta.proposito == 1 %> checked <% end %> >Diagnóstico<br>
		  <input type="radio" <% if @interconsulta.proposito == 2 %> checked <% end %> >Paciente en tratamiento<br>
		  <input type="radio" <% if @interconsulta.proposito == 3 %> checked <% end %> >Seguimiento<br>
		  <input type="radio" <% if @interconsulta.proposito == 4 %> checked <% end %> >Otro		
		</td>
		<td>
			<span class="print">Comentario:</span><br>
			<%= @interconsulta.comentario %>
		</td>
	</tr>				
</table>	

<label class="rotate ro-pro">Profesional</label>
<table class='print aj-marg-left'>
	<tr>
		<td><span class="print">Apellido paterno</span>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%p') %></td>
		<td><span class="print">Apellido materno</span>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%m') %></td>
		<td><span class="print">Nombres</span>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n') %></td></tr>
	<tr>
		<td><label>Rut</label>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %></td>
		<td colspan="2" class="firma"><label class="firma">Firma profesional</label></td>
	</tr>
</table>

<div class="div-bottom">
	<p>Generado en 
	<%= wicked_pdf_image_tag 'logo_medracer_small.png', :class => 'logo-bottom' %>
	www.medracer.com
	</p>
</div>
