<%= wicked_pdf_stylesheet_link_tag 'application' %>

<%
	notificacion_eno = p_d.getNotificacionEno(p_d.id)
	fecha_pri_sin = notificacion_eno.nil? ? p_d.getFechaInicio : (notificacion_eno.fecha_primeros_sintomas.nil? ? p_d.getFechaInicio : notificacion_eno.fecha_primeros_sintomas.strftime('%Y-%m-%d') ) 
	conf_diag = notificacion_eno.nil? ? 8 : notificacion_eno.confirmacion_diagnostica
	case conf_diag
		when '1' then text_con_diag = 'Clínica (incluye imagenología)'
		when '2' then text_con_diag = 'Epidemiológica'
		when '3' then text_con_diag = 'Frotis'
		when '4' then text_con_diag = 'Cultivo'
		when '5' then text_con_diag = 'Serología'
		when '6' then text_con_diag = 'Biopsia'
		when '7' then text_con_diag = 'Autopsia'
		when '8' then text_con_diag = ''
	end	
	ant_vac = notificacion_eno.nil? ? 5 : notificacion_eno.antecedentes_vacunacion
	case ant_vac
		when '1' then text_ant_vac = 'Sí'
		when '2' then text_ant_vac = 'No'
		when '3' then text_ant_vac = 'Ignorado'
		when '4' then text_ant_vac = 'No corresponde'
		when '5' then text_ant_vac = ''		
	end
	emb = notificacion_eno.nil? ? 4 : notificacion_eno.embarazo
	case emb
		when '1' then text_emb = 'Sí'
		when '2' then text_emb = 'No'
		when '3' then text_emb = 'No corresponde'
		when '4' then text_emb = ''		
	end
	tbc = notificacion_eno.nil? ? 4 : notificacion_eno.embarazo
	case tbc
		when '1' then text_tbc = 'Caso nuevo'
		when '2' then text_tbc = 'Recaída, igual localización'
		when '3' then text_tbc = 'Recaída, otra localización'
		when '4' then text_tbc = ''		
	end

 %>	

<label class="folio">Folio: <%= notificacion_eno.id %></label><br>
<h5 class="uppercase" align="center">Declaración de Enfermedad de Notificación Obligatoria</h5>
<br>
<h6 class="uppercase">Datos del prestador</h6>
<table class="print4">
	<tr><td class="uppercase">Institución</td><td>: <%= @agendamiento.especialidad_prestador_profesional.prestador.nombre %></td></tr>
	<tr><td class="uppercase">Dirección</td><td>: <%= @agendamiento.especialidad_prestador_profesional.prestador.getDireccion %></td></tr>
	<tr><td class="uppercase">Profesional que notifica</td><td>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %></td></tr>
	<tr><td class="uppercase">Rut profesional</td><td>: <%= @agendamiento.especialidad_prestador_profesional.profesional.showRut %></td></tr>			
</table>
<h6 class="uppercase">Datos del paciente</h6>
<table class="print4">
	<tr><td class="uppercase">Nombre</td><td>: <%= @agendamiento.persona.showName('%n%p%m') %></td></tr>
	<tr><td class="uppercase">Rut</td><td>: <%= @agendamiento.persona.showRut %></td></tr>
	<tr><td class="uppercase">Edad</td><td>: <%= @agendamiento.persona.age_text %></td></tr>
	<tr><td class="uppercase">Sexo</td><td>: <%= @agendamiento.persona.showSexo %></td></tr>
	<tr><td class="uppercase">Previsión de salud</td><td>: <%= @agendamiento.persona.getPrevision %></td></tr>
	<tr><td class="uppercase">Domicilio</td><td>: <%= @agendamiento.persona.getDomicilio %></td></tr>
	<tr><td class="uppercase">Correo electrónico</td><td>: <%= @agendamiento.persona.user.email %></td></tr>
	<tr><td class="uppercase">Telefono fijo</td><td>: <%= @agendamiento.persona.getTelefonoFijo %></td></tr>
	<tr><td class="uppercase">Celular</td><td>: <%= @agendamiento.persona.getCelular %></td></tr>
</table>
<h6 class="uppercase">Información médica</h6>
<table class="print4">
	<tr><td class="uppercase">Diagnóstico</td><td>: <%= p_d.diagnostico.nombre %></td></tr>
	<tr><td class="uppercase">Código CIE10</td><td>:	<%= p_d.diagnostico.codigo_cie10 %></td></tr>
	<tr><td class="uppercase">Fecha primeros síntomas</td><td>: <%= fecha_pri_sin %> </td></tr>
	<tr><td class="uppercase">Confirmación diagnóstica</td><td>: <%= text_con_diag  %>	</td></tr>
	<tr><td class="uppercase">Antecedentes de vacunación</td><td>: <%= text_ant_vac %></td></tr>
	<tr><td class="uppercase">País de contagio</td><td>:	<%= notificacion_eno.pais_contagio.nombre unless notificacion_eno.pais_contagio.nil? %></td></tr>
	<tr><td class="uppercase">Embarazo</td><td>: <%= text_emb %></td></tr>	  
	<tr><td class="uppercase">Semanas de gestación</td><td>: <%= notificacion_eno.semanas_gestacion unless notificacion_eno.nil? %></td></tr>
	<tr><td class="uppercase">En caso de TBC</td><td>: <%= text_tbc %></td></tr>
</table>
<table class="print4">
	<tr><td><label>Fecha y hora de la notificación</label></td><td>: <%= l Time.now %></td></tr>
	<tr><td colspan="2"><br><br><br><br><br><br></td></tr>
	<tr><td colspan="2"><label class="firma">Firma profesional</label></td></tr>
</table>

<div class="div-bottom">
	<p>Generado en 
	<%= wicked_pdf_image_tag 'logo_medracer_small.png', :class => 'logo-bottom' %>
	www.medracer.com
	</p>
</div>

