<div class="container ajuste-signin">    
  <div class="intro-text3">
    <h2 class="heading">Crea una cuenta en <%= AplicacionMedica::Application.config.site_name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :id => 'new_user', :class => 'form-validator form-horizontal', method: :post }) do |f| %>
  <div id="cuenta-error" class="alert alert-danger feedback" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  <span id ="span-cuenta">
	  <%= devise_error_messages! %> 
	  </span>
	</div>

<div class="container">
	<div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.email_field :email, autofocus: true, :class => "label_better form-control", :placeholder => "Ingresa tu correo electrónico", :'data-position'=> "top", :'data-new-placeholder' => "Correo electrónico:", :'data-bv-notempty'=>"true", :'data-bv-notempty-message'=>"Tu correo electrónico es requerido" %>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="form-group col-md-5 column">
      <div class="input-group ajuste-rut"> 
        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
        	<input id="rut" name="rut" class="label_better form-control" placeholder="Ingresa tu RUT sin puntos " data-new-placeholder="RUT:" data-bv-notempty="true" data-bv-notempty-message="Tu RUT es requerido" data-bv-digits='true' data-fv-digits-message="Número">  
          <p class="help-block text-danger"></p>
      </div>
      
    </div>
    <div class="form-group col-md-1 column"><span class="digito_verificador">-</span><input id="dv" name="dv" class="form-control" maxlength="1">
    </div>

  </div>
  <div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group"> 
        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
        <%= f.password_field :password, autocomplete: "off", :class => "label_better form-control", :placeholder => "Ingresa tu contraseña", :'data-new-placeholder' => "Contraseña:", :'data-bv-notempty'=>"true", :'data-bv-notempty-message'=>"Ingresa una contraseña de al menos 6 carácteres" %>
          <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="form-group col-md-6 column">
      <div class="input-group"> 
        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "label_better form-control", :placeholder => "Confirma tu contraseña", :'data-new-placeholder' => "Contraseña:", :'data-bv-notempty'=>"true", :'data-bv-notempty-message'=>"Ingresa una contraseña de al menos 6 carácteres" %>
          <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='nombre' name='nombre' class="label_better form-control" placeholder="Ingresa tu nombre" data-position="top" data-new-placeholder="Nombre:" data-bv-notempty="true" data-bv-notempty-message="Tu nombre es requerido" >
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='apellido_paterno' name='apellido_paterno' class="label_better form-control" placeholder="Ingresa tu apellido paterno" data-position="top" data-new-placeholder="Apellido paterno:" data-bv-notempty="true" data-bv-notempty-message="Tu apellido paterno es requerido" >
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='apellido_materno' name='apellido_materno' class="label_better form-control" placeholder="Ingresa tu apellido materno" data-position="top" data-new-placeholder="Apellido materno:" data-bv-notempty="true" data-bv-notempty-message="Tu apellido materno es requerido" >
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="form-group col-md-6 column">
    <span class="ajuste-sexo">Sexo:</span>
  		<div class="form-group">
  		  <div class="ajuste-sexo">  		  	 
  		    <label class="radio-inline" for="radios-0">
  		      <input type="radio" name="sexo" id="radios-0" value="1">
  		      Masculino
  		    </label> 
  		    <label class="radio-inline" for="radios-1">
  		      <input type="radio" name="sexo" id="radios-1" value="2">
  		      Femenino
  		    </label> 
  		  </div>
  		</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 column">
      <label class="ajuste-fecha">Fecha de nacimiento:</label><br/>
      <input id="f_n" class="datepicker fecha-nacimiento" type="text" >
    </div>
    <div class="form-group col-md-6 column">
    </div>
  </div>
  <div class='row'>
  	<div class="col-md-12 column">
  	  	<%= f.submit "Crear cuenta", class: "btn btn-large btn-primary btn-block" %><br>
    <%= link_to "Iniciar sesión", new_session_path(:user) %> |
    <%= link_to "Recuperar contraseña", new_password_path(:user) %> 
  	</div>
  </div>



 </div>  

 
    
<% end %>


  </div>
</div>

<%= javascript_include_tag "home" %>