<tr id='tr-med-<%= p_m.id %>'>
  <td><%= p_m.atencion_salud.nil? ? p_m.created_at.strftime('%Y-%m-%d') : p_m.atencion_salud.agendamiento.fecha_comienzo.strftime('%Y-%m-%d') %></td> 
  <td><%= p_m.persona_diagnostico.nil? ? '-' : p_m.persona_diagnostico.diagnostico.nombre %></td>              
  <td><%= p_m.medicamento.nombre %></td>
  <td><%= p_m.getPosologia %></td>
  <td><%= p_m.fecha_inicio.nil? ? '-' : p_m.fecha_inicio.strftime('%Y-%m-%d') %></td>
  <td><%= p_m.fecha_final.nil? ? '-' : p_m.fecha_final.strftime('%Y-%m-%d')  %></td> 
  <td>
  <% if p_m.es_antecedente and p_m.atencion_salud.nil? %>
    <% if p_m.persona_id.eql? PerPersonas.where('user_id = ?',current_user.id).first.id %>  
      <a href="#modal-container-med-<%= p_m.id %>" data-toggle="modal" id="pm<%= p_m.id %>" >Editar</a>
    <% else %>
      Añadido por paciente.
    <% end %>
  <% elsif @atencion_salud %> 
    <% if p_m.es_antecedente and p_m.atencion_salud_id.equal? @atencion_salud.id %> 
  	  <a href="#modal-container-med-<%= p_m.id %>" data-toggle="modal" id="pm<%= p_m.id %>" >Editar</a>
    <% else %>  
      <%= link_to 'Ver atención', atenciones_salud_path(p_m.atencion_salud.id) %>
    <% end %>
  <% else %>
  	<%= link_to 'Ver atención', atenciones_salud_path(p_m.atencion_salud.id) %>
  <% end %>
  </td>
</tr>