<a href="#modal-container-med-<%= id %>" data-toggle="modal" class="list-group-item" id="pm<%= id %>" >
  <p class="list-group-item-text"><%= nombre %><button id="bpm<%= id %>" type="button" class="btn btn-xs btn-danger" onclick="eliminarMedicamento(<%= id %>)">Eliminar</button></p>
</a>