<div class="modal fade medicamento" id="modal-container-med-<%= persona_medicamento.id %>" role="dialog" aria-spanledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><%= persona_medicamento.medicamento.nombre %></h4>
      </div>
      <div class="modal-body">

        <div class="container ajuste-med">
          <div class="row">
            <div class='col-md-5 column ajuste-med'>
              <% if [1,2,3,4].include? persona_medicamento.medicamento.medicamento_tipo.id %>
                <table>
                  <tr>
                    <td><span>Ingerir</span></td>
                    <td><input id="cantidad-<%= persona_medicamento.id %>" type="text" class="form-control medicamento" value="<%= persona_medicamento.cantidad %>" maxlength="4" size="4" onkeyup="calcularTotalMedicamentos(<%= persona_medicamento.id %>)"></td>
                    <td><span class="text-med"><%= persona_medicamento.medicamento.medicamento_tipo.unidad %></span></td>
                  </tr>
                  <tr>
                    <td><span>cada</span></td>
                    <td><input id="periodicidad-<%= persona_medicamento.id %>" type="text" class="form-control medicamento" value="<%= persona_medicamento.periodicidad %>" maxlength="4" size="4" onkeyup="calcularTotalMedicamentos(<%= persona_medicamento.id %>)"></td>
                    <td><span class="text-med">horas</span></td>
                  </tr>
                  <tr>
                    <td><span>por</span></td>
                    <td><input id="duracion-<%= persona_medicamento.id %>" type="text" class="form-control medicamento" value="<%= persona_medicamento.duracion %>" maxlength="4" size="4" onkeyup="calcularTotalMedicamentos(<%= persona_medicamento.id %>)"></td>
                    <td><span class="text-med">días.</span></td>
                  </tr>
                  <tr>
                    <td><span>Total:</span></td>
                    <td><input disabled id="total-<%= persona_medicamento.id %>" type="text" class="form-control medicamento" value="<%= persona_medicamento.total %>" maxlength="4" size="4"></td>
                    <td><span class="text-med"><%= persona_medicamento.medicamento.medicamento_tipo.unidad %>.</span></td>
                  </tr>
                  <% if persona_medicamento.medicamento.medicamento_tipo.id == 4 %>
                    <tr>
                      <td><span>Equivalente a:</span></td>
                      <td><input disabled id="total-ml-<%= persona_medicamento.id %>" type="text" class="form-control medicamento" value="<%= persona_medicamento.total/20 if persona_medicamento.total %>" maxlength="4" size="4"></td>
                      <td><span class="text-med">ml (20 gotas = 1 ml)</span> </td>
                    </tr>
                  <% end %>
                </table>
              <% else %>
                Este tipo de medicamento no tiene posología.
              <% end %>
            </div>
            <div class='col-md-7 column'>
              <label>Fecha inicio (estimada):</label> <%= persona_medicamento.fecha_inicio.nil? ? DateTime.current.strftime('%Y-%m-%d') : persona_medicamento.fecha_inicio.strftime('%Y-%m-%d') %><br/>
              <label>Fecha término (estimada):</label> <span id="fec-med-est-<%= persona_medicamento.id %>"><%= persona_medicamento.fecha_final.strftime('%Y-%m-%d') unless persona_medicamento.fecha_final.nil?  %></span>                         
            </div>
          </div>
          <div class="row ajuste-margin-top">
            <div class='col-med-12 column'>
              <label>Asociar a diagnóstico:</label>
              <div id="div-diagnosticos-<%= persona_medicamento.id %>"></div>
            </div>  
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar ventana</button>
        <button id="bpm<%= persona_medicamento.id %>" type="button" class="btn btn-danger" onclick="eliminarMedicamento(<%= persona_medicamento.id %>)">Eliminar medicamento</button>
        <button type="button" onclick="guardarMedicamento(<%= persona_medicamento.id %>, true)" class="btn btn-success">Guardar</button>
      </div>
    </div>            
  </div>        
</div>

