<a href="#modal-container-med-<%= persona_medicamento.id %>" data-toggle="modal" class="list-group-item" id="pm<%= persona_medicamento.id %>" >
  <p class="list-group-item-text"><%= persona_medicamento.medicamento.nombre %><button id="bpm<%= persona_medicamento.id %>" type="button" class="btn btn-xs btn-danger" onclick="eliminarMedicamento(<%= persona_medicamento.id %>)">Eliminar</button></p>
</a>