<div class="radio">
  <label for="pd_med_<%= p_d.id%>-<%= med %>" >
    <input type="radio" name="rad-med-<%= med %>" onchange="act_med_diag(<%= med %>)" id="pd_med_<%= p_d.id%>-<%= med %>" value="<%= p_d.id%>" <% if p_d.id == pe_di %> checked <% end %> >
    <%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %>
  </label>
</div>