<h4>Test AUDIT realizados</h4>
<% unless @test_audit.blank? %>
	<table class="table table-striped table-hover table-condensed">
		<thead class="ajust-head">
      <tr class="info" ><th class="col-sm-2">Fecha</th><th class="col-sm-2">Puntaje</th><th class="col-sm-2">Test</th></tr>
    </thead>
    <tbody> 		
		<% @test_audit.each do |test| %>
			<tr>
				<td><%= test.fecha_test_audit.strftime('%Y-%m-%d') %></td>
				<td><%= test.audit_puntaje %></td>
				<td><%= link_to 'Ver test', {:controller => :habitos_alcohol, :action => 'show', :id => test.id }, :method => :get %>	</td>
			</tr>
		<% end %>
		</tbody>    
	</table>		
<% else %>
	No se han realizado test AUDIT.
<% end %>	
</br>
<%= link_to 'Agregar antecedente de alcohol', habitos_alcohol_new_path %>
<%= javascript_include_tag "habitos_alcohol" %>