<form id="form-agregar-persona-<%= id %>" class="form-validator">

<div class="container agregar-persona ">
  <div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='nombre<%= id %>' name='nombre' class="label_better form-control" placeholder="Ingresar nombre (*)" data-new-placeholder="Nombre:"  data-position="top" data-bv-notempty="true" data-bv-notempty-message="El nombre es requerido" >
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='apellido_paterno<%= id %>' name='apellido_paterno' class="label_better form-control" placeholder="Ingresar apellido paterno (*)" data-position="top" data-new-placeholder="Apellido paterno:" data-bv-notempty="true" data-bv-notempty-message="El apellido paterno es requerido" >
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='apellido_materno<%= id %>' name='apellido_materno' class="label_better form-control" placeholder="Ingresar apellido materno" data-position="top" data-new-placeholder="Apellido materno:">
      </div>
    </div>
    <div class="form-group col-md-6 column">
      <span class="ajuste-sexo2">Sexo (*):</span>
      <div id='sexo<%= id %>' class="form-group ajuste-sexo3">        
          <label class="radio-inline" for="radios-0<%= id %>">
            <input type="radio" name="sexo<%= id %>" id="radios-0<%= id %>" value="1">
            Masculino
          </label> 
          <label class="radio-inline" for="radios-1<%= id %>">
            <input type="radio" name="sexo<%= id %>" id="radios-1<%= id %>" value="2">
            Femenino
          </label>        
      </div>
    </div>
  </div>
	<div class="row">
    <div class="form-group col-md-6 column">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id='email<%= id %>' name='email' class="label_better form-control" placeholder="Ingresar correo electrónico (*)" data-position="top" data-new-placeholder="Correo electrónico:"  >
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="form-group col-md-4 column ajuste-pad-right">
      <div class="input-group"> 
        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
        	<input id="rut<%= id %>" name="rut" class="label_better form-control" placeholder="Ingresar RUT sin puntos (*)" data-new-placeholder="RUT:" data-bv-notempty="true" data-bv-notempty-message="El RUT es requerido" data-bv-digits='true' data-fv-digits-message="Ingresa solo números">  
          <p class="help-block text-danger"></p>          
      </div>
      <small class="error-rut">El RUT ingresado no es válido</small>      
    </div>
    <div class="col-md-1 column ajuste-pad-left ajuste-pad-right">      
      <span class='ajuste-guion'> - </span> 
    </div>
    <div class="col-md-1 column ajuste-pad-left ajuste-pad-right">
      <div class="input-group">
        <input id="dv<%= id %>" name="dv" class="form-control dv" maxlength="1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 column ajuste-top-fecha">
      <span class='pad-fecha'>Fecha de nacimiento:</span>      
      <input type='text' class="form-control fecha" id='fecha<%= id %>' placeholder='Ingresar fecha' />       
    </div>
    <div class="form-group col-md-4 column">
      <div class="input-group"> 
          <input id="telefono<%= id %>" name="telefono" class="label_better form-control telefono" placeholder="Ingresar teléfono" data-new-placeholder="Teléfono:" data-bv-digits='true' >  
          <p class="help-block text-danger"></p>          
      </div>  
    </div>
    <div class="col-md-2 column no-padding">
      <div class="input-group">
        <select id="codigo<%= id %>" name="codigo" class="form-control codigo">
          <option value="1" selected disabled>Tipo</option>
          <option value="2">Celular</option>
          <option value="3">Fijo 02</option>
        </select>
        <p class="help-block text-danger"></p> 
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="form-group col-md-8 ajuste-parentesco">
      <span class="col-md-5 control-label">Parentesco o relación (*):</span>
      <div class="col-md-7">
        <select id="select-relacion<%= id %>" name="select_relacion" class="form-control select-relacion" data-bv-notempty="true" data-bv-notempty-message="Este campo es requerido">
          <option value="" selected disabled>Seleccionar</option>
          <option value="1">Padre</option>
          <option value="2">Madre</option>
          <option value="3">Hijo</option>
          <option value="4">Hija</option>
          <% if subgrupo == 'todos' %>
            <option value="5">Otro</option>
          <% end %>
        </select>        
      </div>
    </div>
    <div class='col-md-4'>
      <div id='otro-div<%= id %>' class="input-group otra-relacion-div">       
        <input type='text' name="otra_relacion" class="label_better form-control otra-relacion" id='otro<%= id %>' placeholder='Ingresar relación' data-new-placeholder="Otra relación:" />
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  <div class='footer'>
    <span class="left">(*) Estos campos son obligatorios.</span>
    <button id="int_agregar_<%= origen %>" type="submit" class="btn btn-success right" value="Agregar persona">Agregar persona</button>    
    <button type="button" class="btn btn-default right margin-right" onclick="cerrarModalAgregarPersona('<%= id %>')" >Cerrar ventana</button>
  </div>

</div>

</form>

<%= javascript_include_tag "persona" %>  
