<%
	case subgrupo
	when 'todos'
		@cercanos = persona.getCercanos
	when 'fam'
		@cercanos = persona.getFamiliares 
	end	
	p_d = id[4..-1] if ['select_interconsulta', 'select_notificacion' ].include?(clase)
%>
<label>Seleccionar persona: </label>	
<select id='select_<%= id %>' class="select_persona <%= clase %> float-right" <% if ['select_interconsulta', 'select_notificacion' ].include?(clase) %> onchange="selectPersonaIntNot(<%= p_d %>,'<%= id[0..3] %>')" <% end %> >
	<option></option>
  <% @cercanos.each do |cercano| %>
  	<% unless subgrupo == 'fam' and !PerPersonas.find(cercano[0]).diagnostico_muerte.nil?  %>  	
  		<option value="<%= cercano[0] %>" <% if cercano[1] == id_pre %> selected <%end%> > <%= cercano[1].dup << ' - ' << PerPersonas.find(cercano[0]).showName('%n%p%m') %></option> 
  	<% end %>     			
	<% end %>
</select>
