<% agendamientos = getHorasAgendadas %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Horas agendadas para el día</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr><th>Hora de atención</th><th>Paciente</th><th>Estado</th><th>Hora de llegada</th><th>Acción</th></tr>
      </thead>
      <tbody>
      <% for agendamiento in agendamientos %>
        <tr>
          <td><%= agendamiento.fecha_comienzo.to_s(:time) %></td> 
          <td>
            <% if agendamiento.persona %>
              <%= agendamiento.persona.showName('%n%p%m') %>
            <% else %>
              No agendada.
            <% end %>  
          </td>          
          <td><%= agendamiento.agendamiento_estado.nombre %></td>
          <td>
            <% if  agendamiento.fecha_llegada_paciente %>
              <%= agendamiento.fecha_llegada_paciente.to_s(:time) %></td>
            <% else %>
              - 
            <% end %>  
             
          <td>
            <% if existeAtencion(agendamiento.id) %>
              <%= button_to "Continuar atención", {:controller => :atenciones_salud, :action => 'editarAtencion', :id => getIdAtencion(agendamiento.id) }, :method => :post,class: "btn btn-xs btn-primary" %>
            <% elsif agendamiento.persona_id %>    
              <%= button_to "Atender paciente", {:controller => :atenciones_salud,
              :action => 'crearAtencion', :id => agendamiento.id }, :method => :post,class: "btn btn-xs btn-success" %>
            <% elsif agendamiento.agendamiento_estado_id == 2 %> 
              <button id="agen<%= agendamiento.id%>" type="button" class="btn btn-xs btn-warning" onclick="desbloquearHora(<%= agendamiento.id%>)">Desbloquear Hora</button>  
            <% elsif %>  
              <button id="agen<%= agendamiento.id%>" type="button" class="btn btn-xs btn-warning" onclick="bloquearHora(<%= agendamiento.id%>)">Bloquear Hora</button>     
            <% end %>
          </td>

        </tr>
      <% end %>

      </tbody>
    </table>
   
  </div>
  <div class="panel-footer">
<%= l Time.now, format: :long %>
</div>
</div>



