<div id="log-actualizaciones">
  <h4>Últimas actualizaciones de horas</h4>
    <% if @actualizaciones[0].nil? %>
      No hay actualizaciones de horas que mostrar.
    <% else %>

      <table class="table table-striped table-hover table-condensed">
        <thead class="ajust-head">
          <tr class="info"><th class="col-sm-1">Hora de modificación</th><th class="col-sm-1">Evento</th><th class="col-sm-2">Modificado por</th><th class="col-sm-1">Hora de la atención</th><th class="col-sm-2">Paciente de la atención</th></tr>
        </thead>
        <tbody>   
          <% @actualizaciones.each do |actualizacion| %>
            <tr>
              <td><%= actualizacion.fecha.to_s(:time) %></td>
              <td><%= actualizacion.estado.nombre %></td> 
              <td><%= actualizacion.responsable.showName('%n%p%m') %> </td>
              <td><%= actualizacion.fecha_comienzo ? actualizacion.fecha_comienzo.to_s(:time) : 'No agendada' %></td>     
              <td><%= actualizacion.persona_id ? PerPersonas.find(actualizacion.persona_id).showName('%n%p%m') : '-' %> </td> 
            </tr>
          <% end %>                
        </tbody>
      </table>

    <% end %>

</div>