<%= link_to 'Ver atenciones', atenciones_salud_index_path %><br/>
<%= link_to 'Ver agenda', agendamientoBuscadorHora_path %><br/><br/>

<div class="container ajustado">
	<div class="row clearfix">
		<div class="horas_agendadas col-md-12 column">
			<button id="actualizar" class="btn btn-success has-spinner"><span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Actualizar atenciones</button>
		</div>
	</div>	
	<div class="row clearfix">
		<div class="horas_agendadas col-md-8 column">
			<%= render :partial => "horas_agendadas", :locals => {:agendamientos => @agendamientos} %>
		</div>
		<div class="ultimos_eventos col-md-4 column">
			<%= render :partial => "log_actualizaciones", :locals => {:actualizaciones => @actualizaciones} %>
		</div>
	</div>
</div>

<input type="text" class="label_better" data-new-placeholder="Type your username" placeholder="Username">


<%= javascript_include_tag "home" %>