<div class="center hero-unit">
  <h1>Bienvenido a MedRacer</h1>
  <h2>Esta es la p치gina de inicio de la aplicaci칩n.</h2>

  <% if user_signed_in? %>
  	<h3>Ha ingresado correctamente a la aplicaci칩n.</h3>

  	<% if tieneRol('Genera agendamientos') %>
			<%= link_to 'Agregar horas', agendaShowFormBusqueda_path %><br/>
			<%= link_to "Salir", destroy_user_session_path, :method => :delete %>
		<% else %>		
			<%= link_to 'Reservar hora', agendaShowFormBusqueda_path %><br/>
			<%= link_to 'Atender paciente', new_atenciones_salud_path %><br/>
			<%= link_to 'Ver atenciones', atenciones_salud_index_path %><br/>
			<%= link_to "Cerrar sesi칩n", destroy_user_session_path, :method => :delete %>
		<% end %>

	<% else %>

		<h1> Ingrese a MedRacer</h1>
		<%= link_to "Entrar", new_user_session_path, :method => :get ,class: "btn btn-large btn-primary" %>
		<%= link_to "Crear cuenta", new_user_registration_path, :method => :get , class: "btn btn-large btn-primary"%>

	<% end %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>