<div class="container menu-inicial">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<ul id="nav-antecedentes" class="nav nav-pills nav-pills nav-stacked nav-antecedentes" role="tablist">
				<li class="active"><a href="#inicio" role="tab" data-toggle="tab">Inicio</a></li>
				<li><a href="#familia" role="tab" data-toggle="tab">Familia</a></li>
				<li><a href="#horas" role="tab" data-toggle="tab">Buscador de horas</a></li>				
			  <li><a href="#ant_med" role="tab" data-toggle="tab">Antecedentes médicos</a></li>
			  <li><a href="#ant_quir" role="tab" data-toggle="tab">Antecedentes quirúrgicos</a></li>
			  <% if @persona.genero == 'Femenino' %><li><a href="#ant_gine" role="tab" data-toggle="tab">Antecedentes ginecológicos</a></li><% end %>
			  <li><a href="#medicamentos" role="tab" data-toggle="tab">Medicamentos</a></li>
			  <li><a href="#alergias" role="tab" data-toggle="tab">Alergias</a></li>
			  <li><a href="#vacunas" role="tab" data-toggle="tab">Vacunas</a></li>
			  <li><a href="#actividad_fisica" role="tab" data-toggle="tab">Actividad física</a></li>
			  <li><a href="#habitos_alcohol" role="tab" data-toggle="tab">Hábitos de alcohol</a></li>
			  <li><a href="#habitos_tabaco" role="tab" data-toggle="tab">Hábitos de tabaco</a></li>
			  <li><a href="#antecedentes_familiares" role="tab" data-toggle="tab">Antecedentes familiares</a></li>
			  <li><a href="#antecedentes_sociales" role="tab" data-toggle="tab">Antecedentes sociales</a></li>
			  <li><a href="#antecedentes_laborales" role="tab" data-toggle="tab">Antecedentes laborales</a></li>
			</ul>
		</div>
		<div class="col-md-9 column">
			<div class="tab-content tab-inicial">
				<div class="tab-pane active" id="inicio"><%= render :partial => "inicio" %></div>
				<div class="tab-pane" id="familia"><%= render :partial => "persona/familia" %></div>
				<div class="tab-pane" id="horas"><%= render :partial => "agendamiento/buscador_hora" %></div>
			  <div class="tab-pane" id="ant_med"><%= render :partial => "antecedentes/antecedentes_medicos" %></div>
			  <div class="tab-pane" id="ant_quir"><%= render :partial => "antecedentes/antecedentes_quirurgicos",:locals => { :tipo => 'edit' } %></div>
			  <% if @persona.genero == 'Femenino' %><div class="tab-pane" id="ant_gine"><%= render :partial => "antecedentes/antecedentes_ginecologicos" %></div><% end %>
			  <div class="tab-pane" id="medicamentos"><%= render :partial => "antecedentes/medicamentos",:locals => { :tipo => 'edit' } %></div>
			  <div class="tab-pane" id="alergias"><%= render :partial => "antecedentes/alergias",:locals => { :persona_id => @persona.id } %></div>
			  <div class="tab-pane" id="vacunas"><%= render :template => "vacunas/index",:locals => { :persona_id => @persona.id } %></div>
			  <div class="tab-pane" id="actividad_fisica"><%= render :partial => "antecedentes/actividad_fisica" %></div>
			  <div class="tab-pane" id="habitos_alcohol"><%= render :partial => "habitos_alcohol/index" %></div>
			  <div class="tab-pane" id="habitos_tabaco"><%= render :partial => "habitos_tabaco/index" %></div>
			  <div class="tab-pane" id="antecedentes_familiares"><%= render :partial => "antecedentes/antecedentes_familiares" %></div>
			  <div class="tab-pane" id="antecedentes_sociales"><%= render :partial => "antecedentes/antecedentes_sociales" %></div>
			  <div class="tab-pane" id="antecedentes_laborales"><%= render :template => "ocupaciones/index" %></div>		
			</div>
		</div>
	</div>
</div>
