<!DOCTYPE html>
<html>
<head>
  <title><%= AplicacionMedica::Application.config.site_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="home">
<!-- Header -->
<header >

<!-- Navigation -->
<div class="encabezado">
<nav class="navbar encabezado">
	<a class="contacto"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(56 2) 23496495</a><a class="contacto"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> contacto@medracer.com</a>
</nav>	
</div>
<nav id="navbar-intro" class="navbar navbar-default navbar-fixed-top navbar-center navbar-ajuste">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>            
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="hidden"></li><a href="#page-top"><%= image_tag('logo_medracer.png', :class => "logo-top") %></a>
        <li><a class="page-scroll" href="#services">Pensado en las personas</a></li>
        <li><a class="page-scroll" href="#portfolio">Diseñado por médicos</a></li>
        <li><a class="page-scroll" href="#about">Características</a></li>
        <li><a class="page-scroll" href="#team">Quienes somos</a></li>
        <li><a class="page-scroll" href="#contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
  <section id="inicio" class="bg-pattern-horizontal bg-pattern-vertical">
    <div class="container">    
      <div class="intro-text">
          <h1 class="heading">Inicia sesión para acceder a <%= AplicacionMedica::Application.config.site_name %></h1>
          <p class="alert"><%= alert %></p>
          <%= form_for(:user, :html => {:id => 'sign-in-form', :class => 'form-validator form-horizontal' }, :url => session_path(:user) ) do |f| %>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <%= f.email_field :email,  autocomplete: "off", :class => "label_better form-control", :placeholder => "Ingresa tu correo electrónico", :'data-position'=> "top", :'data-new-placeholder' => "Correo electrónico:", :'data-bv-notempty'=>"true", :'data-bv-notempty-message'=>"Tu correo electrónico es requerido" %>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="form-group">  
            <div class="input-group"> 
              <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
              <%= f.password_field :password, :class => "label_better form-control", :placeholder => "Ingresa tu contraseña", :'data-position'=> "top", :'data-new-placeholder' => "Contraseña:", :'data-bv-notempty'=>"true", :'data-bv-notempty-message'=>"Tu contraseña es requerida"%>
              <p class="help-block text-danger"></p>
            </div>
          </div>  
            <div class="checkbox center">
              <%= f.label 'No cerrar sesión', :for => "remember_me" ,:class => 'ajuste-hover' %>
              <%= f.check_box :remember_me, :id => "remember_me" %> 
            </div>
              <%= f.submit 'Iniciar sesión' ,id: 'inicia_sesion', class: "btn btn-large btn-primary btn-block" %><br>
              <%= link_to "Crear una cuenta", new_registration_path(:user) %> |  
              <%= link_to "Recuperar contraseña", new_user_password_path(:user) %> 
              <br>
          <% end %>	
      </div>
    </div>
  </section>
</header>

<!-- Services Section -->
<section id="services" class="bg-pattern-horizontal bg-pattern-vertical">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Pensado en las personas</h1>
        <h3 class="section-subheading text-muted">Programamos <%= AplicacionMedica::Application.config.site_name %> con dedicación, como si lo fueramos a usar nosotros mismos.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Un lugar para guardar tus antecedentes de salud</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Tú eres dueño de tu información médica</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Reserva de horas</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">       
        <p class="text-muted"><%= AplicacionMedica::Application.config.site_name %> está pensado para que las personas dispongan de un lugar para almacenar sus antecedentes de salud, como enfermedades, exámenes, medicamentos, hábitos de actividad física, entre otros.</p>
      </div>
      <div class="col-md-4">
        <p class="text-muted">Considerando la Ley de Deberes y Derechos del Paciente y el Reglamento sobre ficha clínica, <%= AplicacionMedica::Application.config.site_name %> hace a las personas dueñas de su información médica para que puedan compartirla con los especialistas de salud que deseen.</p>
      </div>
      <div class="col-md-4">
        <p class="text-muted">Si tu centro de salud utiliza <%= AplicacionMedica::Application.config.site_name %>, podrás reservar en línea la próxima atención con tu especialista.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-pattern-horizontal bg-pattern-vertical bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Diseñado por médicos</h1>
        <h3 class="section-subheading text-muted">Pusimos foco en la usabilidad que <%= AplicacionMedica::Application.config.site_name %> ofrece a los especialista de salud.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-institution fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Estándares de salud</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Un asistente en la atención de salud</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-book fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Agenda de atenciones</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">       
        <p class="text-muted">Se utiliza estándares internacionales de salud como la Clasificación Internacional de enfermedades CIE10 y otras recomendaciones de la Organización Mundial de la Salud. </p>
      </div>
      <div class="col-md-4">
        <p class="text-muted">Facilitando el registro de los antecedentes del usuario o la generación de una interconsulta, <%= AplicacionMedica::Application.config.site_name %> te permitirá concentrarte en atender al paciente que tienes al frente.</p>
      </div>
      <div class="col-md-4">
        <p class="text-muted">Visualiza y gestiona fácilmente tu agenda diaria de atenciones.</p>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="bg-pattern-horizontal bg-pattern-vertical">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Características</h1>
        <h3 class="section-subheading text-muted">Buscamos la simplicidad para construir una aplicación poderosa para los usuarios.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Aplicación web</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Cloud</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-primary"></i>
          <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Acceso gratuito</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">       
        <p class="text-muted">Para acceder a esta aplicación solo necesitas un computador contectado a Internet. <%= AplicacionMedica::Application.config.site_name %> está contruido en Ruby on Rails, un framework moderno de desarrollo web que nos facilitará implementar mejoras en la aplicación.</p>
      </div>
      <div class="col-md-4">
        <p class="text-muted">Para asegurar la mejor disponibilidad esta aplicación funciona sobre Amazon Web Services, el mejor lugar para alojar sitios web.</p>
      </div>
      <div class="col-md-4">
        <p class="text-muted">El acceso a la aplicación es gratuito para los pacientes. Solo los centros médicos deben pagar una pequeña suscripción mensual.</p>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-pattern-horizontal bg-pattern-vertical bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="section-heading">Quiénes somos</h1>
          <h3 class="section-subheading text-muted">Tecnologías de Información + Medicina</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="team-member">
              <h4>Alex González</h4>
              <p class="text-muted">Ingeniero Civil Industrial mención Tecnologías de Información de la Pontificia Universidad Católica de Chile.</p>
              <p class="text-muted">Experiencia en desarrollo y mantención de aplicaciones web, y conocimientos de mejores prácticas de gestión.</p>
          </div>
        </div>
        <div class="col-sm-6"> 
          <div class="team-member">
              <h4>Luis Contreras</h4>
              <p class="text-muted">Médico cirujano de la Universidad Andrés Bello.</p>

          </div>
        </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-pattern-horizontal bg-pattern-vertical">
  <div class="container div-contact">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Contacto</h1>
         <h3 class="section-subheading text-muted">Escríbenos para cualquier duda o consulta.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" class="form-validator contactForm" data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" >
          <div class="row">
            <div class="col-md-6">
                <div class="form-group ajuste5">
                  <input type="text" class="label_better2 form-control" placeholder="Ingresa tu nombre" data-new-placeholder="Nombre:" id="name" name="name" data-bv-notempty="true" data-bv-notempty-message="Tu nombre es requerido">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="email" class="label_better2 form-control" placeholder="Ingresa tu correo electrónico" data-new-placeholder="Correo electrónico:" id="email" name="email" data-bv-notempty="true" data-bv-notempty-message="Tu correo electrónico es requerido." >
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="tel" class="label_better2 form-control" placeholder="Ingresa tu teléfono" data-new-placeholder="Teléfono:" id="phone" name="phone" data-bv-notempty="true" data-bv-notempty-message="Tu teléfono es requerido.">
                  <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea rows="10" class="form-control label_better2" placeholder="Ingresa tu mensaje" data-new-placeholder="Mensaje:" id="message" name="message" data-bv-notempty="true" data-bv-notempty-message="Tu mensaje es requerido."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button class="btn btn-large btn-primary btn-block">Enviar mensaje</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer >
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <span class="copyright">Derechos reservados &copy; <%= AplicacionMedica::Application.config.site_name %> <%= DateTime.current.strftime('%Y') %> </span>
          </div>
          <div class="col-md-4">
              
          </div>
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <!--<li><a href="#">Política de privacidad</a>
                  </li>
                  <li><a href="#">Términos de uso</a>
                  </li>-->
              </ul>
          </div>
      </div>
  </div>
</footer>

</body>
</html>

<%= javascript_include_tag "home" %>


