<h4>Antecedentes laborales</h4>
<% unless @ocupaciones.blank? %>
		<table class="table table-striped table-hover table-condensed">
			<thead class="ajust-head">
	      <tr class="info" ><th class="col-sm-2">Fecha inicio</th><th class="col-sm-2">Fecha final</th><th class="col-sm-2">Ocupación</th><th class="col-sm-2">Tiempo total</th><th class="col-sm-1"></th></tr>
	    </thead>
	    <tbody> 
			<% @ocupaciones.each do |ocu| %>
				<tr>
					<td><%= ocu.fecha_inicio.strftime('%Y-%m-%d') unless ocu.fecha_inicio.nil? %>
					</td>
					<td><%= ocu.fecha_termino.strftime('%Y-%m-%d') unless ocu.fecha_termino.nil? %>
					</td>
					<td><%= ocu.ocupacion.nombre %>
					</td>
					<td><%= ocu.getTiempoTotal %>
					</td>
					<td><%= link_to 'Editar', {:controller => :ocupaciones, :action => 'edit', :id => ocu.id }, :method => :get %>
					</td>
				</tr>
			<% end %>		
			</tbody>    
		</table>
<% else %>
</br>No hay información de antecedentes laborales.
<% end %>
<%= link_to 'Agregar antecedente laboral', ocupaciones_new_path %>

