<% disabled = (tipo == 'edit' ) ? '' : 'disabled' %>
<div class="modal fade" id="modal-container-pres-<%= p_p.id %>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="cerrarModalAntPres(<%= p_p.id %>)" >×</button>
        <h4 class="modal-title" id="myModalLabel"><%= p_p.prestacion.nombre %></h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-4 column">
              <label>Fecha prestación</label>
            </div>
            <div class="col-md-8 column">:
              <input name="f_p_<%= p_p.id%>" class="form-control fecha-mes" type="text" value="<%= p_p.getFechaPrestacion %>" <%= disabled %> >
            </div>
          </div>
          <div class="row clearfix margin-top">
            <div class="col-md-4 column">
              <label>Establecimiento</label>
            </div>
            <div class="col-md-8 column">:
              <input id="prestador-prestacion-<%= p_p.id%>" type="text" class="form-control ajuste-cen-der width_300" value="<%= p_p.prestador_texto %>" <%= disabled %> >
            </div>        
          </div>
          <div class="row clearfix">
            <div class="col-md-4 column">
              <label>Diagnósticos:</label>
            </div>
            <div class="col-md-8 column">
              <div id="div-diag-pres<%= p_p.id %>" class="div-diag-cert"></div>
            </div>
          </div>
        </div>         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="cerrarModalAntPres(<%= p_p.id %>)">Cerrar ventana</button>
        <% if tipo == 'edit' %>
          <button id="bcp<%= p_p.id%>" type="button" class="btn btn-danger" onclick="eliminarPrestacion(<%= p_p.id%>)">Eliminar</button>
          <button type="button" onclick="guardarPrestacion(<%= p_p.id%>)" class="btn btn-success">Guardar</button>
        <% end %>  
      </div>
    </div>            
  </div>        
</div>
<%= javascript_include_tag "atencion_salud/cargar_calendario" %>
<%= javascript_include_tag "atencion_salud/cargar_select_procedimiento" %>

