<div class="modal fade" id="modal-container-pres-<%= p_p.id%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= p_p.prestacion.nombre %></h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-4 column">
              <label>Fecha prestación</label>
            </div>
            <div class="col-md-8 column">:
              <input name="f_p_<%= p_p.id%>" class="datepicker" type="text" value="<%= p_p.getFechaPrestacion %>">
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-4 column">
              <label>Establecimiento</label>
            </div>
            <div class="col-md-8 column">:
              <select id="select_prestadores<%= p_p.id %>" class="select_prestadores_proc">  
                <option></option>         
                <% @prestadores.each do |pres| %>
                  <option value="<%= pres.id %>"
                    <% unless p_p.nil?
                        unless p_p.prestador.nil?
                          if p_p.prestador.id == pres.id 
                            %> selected <% 
                          end 
                        end
                      end %> ><%= pres.nombre %></option>           
                <% end %>
              </select>         
            </div>        
          </div>
        </div>         
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
         <button type="button" onclick="guardarPrestacion(<%= p_p.id%>)" class="btn btn-primary">Guardar</button>
          <button id="bcp<%= p_p.id%>" type="button" class="btn btn-danger" onclick="eliminarPrestacion(<%= p_p.id%>)">Eliminar</button>
      </div>
    </div>            
  </div>        
</div>
<%= javascript_include_tag "atencion_salud/cargar_calendario" %>
<%= javascript_include_tag "atencion_salud/cargar_select_procedimiento" %>

