<%= javascript_include_tag "atencion_salud/atencion_salud-autocomplete-suggestions" %>
<%= javascript_include_tag "atencion_salud/atencion_salud-inicial" %>
  <script>
		var persona_id=<%=@agendamiento.persona.id  %>
		var atencion_salud_id=<%= @atencion_salud.id %>
		
	</script>

<%= form_for :atencion_salud, :html => {:class => 'form-horizontal'} , url: {action: "update"}, method: :put do |f| %>
 <% if @atencion_salud.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@atencion_salud.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @atencion_salud.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div class="panel panel-success">
<div class="panel-heading">
  <h3 class="panel-title">Atención de Salud</h3>
</div>
<div class="panel-body">	

<div class="row">

<div class="col-md-6 div-form-atencion">	
<%= f.label 'Paciente:' %>
<%= @agendamiento.persona.showName('%n%p%m')  %><br/>
<%= f.label 'Rut:' %>
<%= @agendamiento.persona.showRut %><br/>
<%= f.label 'Sexo:' %>
<%= @agendamiento.persona.showSexo %><br/>
<%= f.label 'Otros datos' %><br/>
<%= f.label 'Antecedentes' %><br/>

	<div class="list-group">
		<a href="#" class="list-group-item">
	    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. </p>
	  </a>

	</div>
 
</div>

<div class="div-form-atencion">
	<%= f.label :Motivo  %>
	<%= f.text_area :motivo_consulta , :size => "50x6"  %><br/>
	<%= link_to 'Examen Físico', agendaShowFormBusqueda_path %><br/>
	<%= link_to 'Métricas', agendaShowFormBusqueda_path %><br/>	
	<%= link_to 'Métricas', agendaShowFormBusqueda_path %><br/>

</div>

</div>
<div class="row">

<div class="col-md-6 div-form-atencion">

  Diagnóstico:
  <select id="diag" name="diag" data-placeholder="Seleccione un diagnóstico"  >
      <option></option>
    <% @diagnosticos.each do |d| %>
      <option value="<%= d.id%>"><%= d.nombre %></option>
    <% end %>
  </select> <br/>    

  <!--<div class="form-group">
  <label class="col-md-3 control-label" for="buttondropdown">Diagnóstico</label>
    <div class="input-group" >
      <input id="diagnostico" name="diagnostico" data-id="-1" class="form-control" placeholder="Agregar diagnóstico" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">          
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <% @diagnosticos.each do |d| %>
                <li><a data-id="<%= d.id%>"><%= d.nombre %></a></li>
          <% end %>
        </ul>
      </div>
    </div>-->

  <div class="list-group div-form-diag" name="diagnostico-div" id="diagnostico-div">	
    <% @persona_diagnostico.each do |p_d| %>
      <a href="#" class="list-group-item" id="pd<%= p_d.id%>" >
        <p class="list-group-item-text"><%= p_d.diagnostico.nombre %><button type="button" class="btn btn-xs btn-danger" onclick="eliminarDiagnostico(<%= p_d.id%>)">Eliminar</button><button type="button" class="btn btn-xs btn-primary" id="modal-194595" href="#modal-container-194595" role="button" class="btn" data-toggle="modal">Editar</button> </p>

      <div class="modal fade" id="modal-container-194595" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">
                Modal title
              </h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          
        </div>
        
      </div>







      </a>
    <% end %>
	</div>

</div>

	<%= f.label :Indicaciones  %>
	<%= f.text_area :indicaciones_generales , :size => "50x4" %>
</div>

<div class="col-md-6 div-form-atencion">
	<fieldset id="fieldset">

	<%= link_to 'Solicitar examen', agendaShowFormBusqueda_path %><br/>
	<%= collection_select(:persona_examen, :examen_id, MedExamenes.all, :id, :nombre) %><br/>
		
	<%= link_to 'Prescribir medicamentos', agendaShowFormBusqueda_path %><br/>
	<%= link_to 'Emitir certificado', agendaShowFormBusqueda_path %><br/>
	<%= link_to 'Generar interconsulta', agendaShowFormBusqueda_path %><br/>
	</fieldset>
<%= f.submit :CerrarAtención, :id => "submit" %>
</div>

</div> <!--Cierre div row -->
</div> <!--Cierre div panel-body -->
</div> <!--Cierre div panel -->

<% end %>


