<script>
  var persona_id=<%=@agendamiento.persona.id  %>
	var atencion_salud_id=<%= @atencion_salud.id %>
  var link_loading = '<%= image_tag("loading.gif", alt: "Rails") %>'	
  var id=<%= @id %>
</script>

<%= form_for :atencion_salud, :html => {:class => 'form-horizontal'} , url: {action: "update"},  method: :put do |f|  %>

<input type="hidden" id="persona_id" value=<%=@agendamiento.persona.id  %> >

<div id="atencion-salud" class="panel panel-success">
<div class="panel-heading">
  <h3 class="panel-title"><span>Atención de Salud</span><span class='right'>Hora: <%= @agendamiento.fecha_comienzo.strftime('%H:%M') %> Profesional: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %> </span></h3>
</div>
<div class="panel-body">	

<div class="row">

<div class="col-md-6 div-form-atencion">

  <div class="container ajustado">
    <div class="row clearfix">
      <div class="col-md-7 column">
        <%= f.label 'Paciente' %>: <%= @agendamiento.persona.showName('%n%p%m') %>
      </div>
      <div class="col-md-5 column">
        <%= f.label 'Edad' %>: <%= @agendamiento.persona.age_text %>  
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-7 column">
        <%= f.label 'Rut' %>: <%= @agendamiento.persona.showRut %>  
      </div>
      <div class="col-md-5 column">
        <%= f.label 'Sexo' %>: <%= @agendamiento.persona.showSexo %>  
      </div>
    </div>
  </div>

<%= f.label 'Antecedentes' %>
<%= link_to "Ver todos los antecedentes", {:controller => :antecedentes, :action => 'edit', :id => @agendamiento.id }, :method => :post %>

<div class"container">
  <div class="row clearfix">
    <div class="list-group col-md-4 column ajuste-ant">
      <a id="med" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant"><i class="fa fa-archive fa-fw fa-lg"></i><%= @texto_ant_med %></a>
      <a id="ale" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-shield fa-fw fa-lg"></i>Alergias</a>
      <a id="vac" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-magic fa-fw fa-lg"></i>Vacunas</a>
      <a id="ant_qui" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-magic fa-fw fa-lg"></i>Ant. quirúrgicos</a>
    </div>
    <div class="list-group col-md-4 column ajuste-ant">
      <a id="act_fis" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-soccer-ball-o fa-fw fa-lg"></i>Actividad física</a>
      <a id="hab_alc" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-beer fa-fw fa-lg"></i>Hábitos de alcohol</a>
      <a id="hab_tab" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-magic fa-fw fa-lg"></i>Hábitos de tabaco</a>
      <% if @agendamiento.persona.genero == 'Femenino' %>
        <a id="ant_gin" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-magic fa-fw fa-lg"></i>Ant. ginecológicos</a>
      <% end%>
    </div> 
    <div class="list-group col-md-4 column ajuste-ant2">
      <a id="ant_fam" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-users fa-fw fa-lg"></i>Ant. familiares</a>
      <a id="ant_soc" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-users fa-fw fa-lg"></i>Ant. sociales</a>
      <a id="ant_lab" href="#" class="ellipsis list-group-item load_ant"><i class="fa fa-money fa-fw fa-lg"></i>Ant. laborales</a>
    </div>
  </div>  
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header ajuste-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Antecedentes del paciente</h4>
      </div>
      <div class="modal-body">
        <div id='contenido-ant'></div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar ventana</button>
      </div>
    </div>
  </div>
</div>  

<div class="list-group" name="antecedentes-div" id="antecedentes-div">  
  <% @antecedentes.each do |p_d| %>
    <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
  <% end %>
</div>
<div id="antecedentes-modal-div" >
  <% @antecedentes.each do |p_d| %>
     <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
  <% end %>      
</div>

<%= f.label 'Diagnósticos recientes' %>

<div class="list-group" name="diagnostico-anterior-div" id="diagnostico-anterior-div">  
  <% @persona_diagnostico_anteriores.each do |p_d| %>
    <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
  <% end %>
</div>
<div id="diag_ant-modal-div" >
  <% @persona_diagnostico_anteriores.each do |p_d| %>
     <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
  <% end %>      
</div>

<%= f.label :"Motivo de consulta" %><span class="alert alert-info" id="auto-motivo" >Autoguardado</span>
<%= f.text_area :motivo_consulta , :class => "form-control", :size => "50x3" %>
<%= f.label :"Examen físico" %><span class="alert alert-info" id="auto-examen" >Autoguardado</span>
<%= f.text_area :examen_fisico , :class => "form-control", :size => "50x3" %>
 
<a id="modal-metricas" href="#modal-container-metricas" role="button" class="btn" data-toggle="modal">Métricas</a>
<%= render :partial => "persona_metricas/metricas", :locals => {:id => @atencion_salud.id, :p_e => @estatura, :p_p => @peso, :p_imc => @imc, :p_pr => @presion} %>
 
</div>

<div class="col-md-6 div-form-atencion">

  <%= f.label :"Diagnóstico" %>
  <input type='hidden' id="select_diagnostico"></input>
  <div class="checkbox">
    <label for="diag-no-frec">
      <input type="checkbox" name="checkboxes" id="diag-no-frec" value="1">
      Incluir diagnósticos no frecuentes
    </label>
  </div>
  <div class="list-group" name="diagnostico-div" id="diagnostico-div">	
    <% @persona_diagnostico.each do |p_d| %>
      <%= render :partial => "persona_diagnostico/persona_diagnostico", :locals => {:p_d => p_d} %>
    <% end %>
	</div>
  <div id="diag_modal-div" >
    <% @persona_diagnostico.each do |p_d| %>
       <%= render :partial => "persona_diagnostico/persona_diagnostico_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
    <% end %>      
  </div>
	
	<%= f.label :"Exámenes" %>

  <input type='hidden' id="select_examen" class="ajuste-select" width="600px" ></input>
  <div class="list-group" name="examen-div" id="examen-div">  
    <% @persona_examen.each do |p_e| %>
      <%= render :partial => "persona_prestacion/persona_prestacion", :locals => {:p_p => p_e} %> 
    <% end %>
  </div>
  <div id="exa_modal-div" >
    <% @persona_examen.each do |p_e| %>
      <%= render :partial => "persona_prestacion/persona_prestacion_modal", :locals => {:p_p => p_e} %> 
    <% end %>      
  </div>

  <%= f.label :"Procedimientos/Cirugías" %>
  <input type='hidden' id="select_procedimiento" class="ajuste-select" width="600px" ></input>
  <div class="list-group" name="procedimiento-div" id="procedimiento-div">  
    <% @persona_procedimiento.each do |p_p| %>
      <%= render :partial => "persona_prestacion/persona_prestacion", :locals => {:p_p => p_p} %>  
    <% end %>
  </div>
  <div id="proc_modal-div" >
    <% @persona_procedimiento.each do |p_p| %>
      <%= render :partial => "persona_prestacion/persona_prestacion_modal", :locals => {:p_p => p_p} %> 
    <% end %>      
  </div> 

  <%= f.label :"Medicamentos" %>
  <input type='hidden' id="select_medicamento"></input>
  <div class="list-group" name="medicamento-div" id="medicamento-div">  
    <% @persona_medicamento.each do |p_m| %>
      <%= render :partial => "persona_medicamento/persona_medicamento", :locals => {:persona_medicamento => p_m} %>     
    <% end %>
  </div>
  <div id="med_modal-div" >
    <% @persona_medicamento.each do |p_m| %>
      <%= render :partial => "persona_medicamento/persona_medicamento_modal", :locals => {:persona_medicamento => p_m} %> 
    <% end %>      
  </div>

  <%= f.label :"Indicaciones"  %><span id="auto-indicaciones" class="alert alert-info">Autoguardado</span>
  <%= f.text_area :indicaciones_generales , :class => 'form-control',:size => "50x4" %>

  <a id="modal-" href="#modal-container-certificados" role="button" class="btn" data-toggle="modal">Emitir certificado</a>
  <%= render :partial => "certificados", :locals => {:id => @atencion_salud.id} %><br>


</div>

</div> <!--Cierre div row -->

<div class="row ajus-padd-bott">
  <div class="col-md-12 column">

    <%= f.submit :"Finalizar atención", :id => "finalizar", :name =>"finalizar", :class=>"btn btn-primary ajus-pos-right" %>
    <%= f.submit :"Guardar atención", :id => "guardar", :class=>"btn btn-success ajus-pos-right" %>
        
  </div>
</div>  

</div> <!--Cierre div panel-body -->
</div> <!--Cierre div panel -->

<% end %> 

  <div class="row clearfix">
    <div class="horas_agendadas col-md-12 column">
      <button id="actualizar2" class="btn btn-success has-spinner"><span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Actualizar atenciones</button>
    </div>
  </div>  
<%= render :partial => "home/log_actualizaciones", :locals => {:actualizaciones => @actualizaciones} %>

<div id="qtip-growl-container"></div>

<%= javascript_include_tag "atencion_salud/atencion_salud" %>
<%= javascript_include_tag "atencion_salud/cargar_calendario" %>
<%= javascript_include_tag "home" %>
<%= javascript_include_tag "antecedentes" %>


