  <script>
		var persona_id=<%=@agendamiento.persona.id  %>
		var atencion_salud_id=<%= @atencion_salud.id %>
    var link_loading = '<%= image_tag("loading.gif", alt: "Rails") %>'
		
	</script>

<%= form_for :atencion_salud, :html => {:class => 'form-horizontal'} , url: {action: "update"}, method: :put do |f| %>
 <% if @atencion_salud.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@atencion_salud.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @atencion_salud.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div class="panel panel-success">
<div class="panel-heading">
  <h3 class="panel-title">Atención de Salud</h3>
</div>
<div class="panel-body">	

<div class="row">

<div class="col-md-6 div-form-atencion">	
<%= f.label 'Paciente:' %>
<%= @agendamiento.persona.showName('%n%p%m')  %><br/>
<%= f.label 'Rut:' %>
<%= @agendamiento.persona.showRut %><br/>
<%= f.label 'Sexo:' %>
<%= @agendamiento.persona.showSexo %><br/>
<%= f.label 'Otros datos' %><br/>
<%= f.label 'Antecedentes' %><br/>

	<div class="list-group">
		<a href="#" class="list-group-item">
	    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. </p>
	  </a>

	</div>


  <%= f.label :"Motivo de consulta:" %>
  <%= f.text_area :motivo_consulta , :class => "form-control", :size => "50x4" %><br>
  <%= link_to 'Examen Físico', agendaShowFormBusqueda_path %><br/>
  <%= link_to 'Métricas', agendaShowFormBusqueda_path %><br/> 
 
</div>

<div class="col-md-6 div-form-atencion">



  <%= f.label :"Diagnóstico:" %>
  <select id="select_diagnostico" class="chosen-select" data-placeholder="Seleccione un diagnóstico" >
      <option></option>
    <% @diagnosticos.each do |d| %>
      <option value="<%= d.id%>"><%= d.codigo_cie10 + ' ' + d.nombre %></option>
    <% end %>
  </select>

 <br/><a href="#modal-no-frecuente" data-toggle="modal">Incluir diagnóstico no frecuente</a>

  <div class="modal fade" id="modal-no-frecuente" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">No frecuentes</h4>
        </div>
        <div class="modal-body" id="modal-body-no-frecuente">
          <div id="status"></div> 
         
          <input type='hidden'id="select_diag_no_frec"></input>

        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> <button type="button"   class="btn btn-primary">Guardar</button>
        </div>
      </div>            
    </div>        
  </div>

  <div class="list-group" name="diagnostico-div" id="diagnostico-div">	
    <% @persona_diagnostico.each do |p_d| %>
      <a href="#modal-container-diag-<%= p_d.id%>" data-toggle="modal" class="list-group-item" id="pd<%= p_d.id%>" >
        <p class="list-group-item-text"><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %><button id="bc<%= p_d.id%>" type="button" class="btn btn-xs btn-danger" onclick="eliminarDiagnostico(<%= p_d.id%>)">Eliminar</button></p></a>
    <% end %>
	</div>

  <div id="diag_modal-div" >
  <% @persona_diagnostico.each do |p_d| %> 
    <div class="modal fade" id="modal-container-diag-<%= p_d.id%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"><%= p_d.diagnostico.nombre %></h4>
          </div>
          <div class="modal-body">
            <p>Fecha inicio: <input name="f_i_<%= p_d.id%>" class="datepicker" type="text" placeholder="Ej.: 2014-03-13" value="<%= p_d.getFechaInicio %>"></p>
            <p>Fecha término: <input name="f_t_<%= p_d.id%>" class="datepicker" type="text" placeholder="Ej.: 2014-03-13" value="<%= p_d.getFechaTermino %>"></p>
            <p>Estado de diagnóstico actual:
              <select id="e_d_<%= p_d.id %>" name="selectbasic" class="form-control" >
                <% @estados_diagnostico.each do |e_d| %>  
                  <option value="<%= e_d.id %>" <% if p_d.estado_diagnostico.id ==  e_d.id  %> selected="selected" <% end %>  ><%= e_d.nombre %></option>
                <% end %>
              </select>
            </p>
            <p>Comentario:
              <textarea class="form-control" id="comentario_<%= p_d.id%>"><%= getComentario(p_d.id) %></textarea>
            </p>  
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
             <button type="button"  onclick="guardarDiagnostico(<%= p_d.id%>)" class="btn btn-primary">Guardar</button>
          </div>
        </div>            
      </div>        
    </div>
  <% end %>      
  </div>
	
	<%= f.label :"Exámenes:" %>
  <input type='hidden'id="select_examen"></input>

  <div class="list-group" name="examen-div" id="examen-div">  
    <% @persona_examen.each do |p_e| %>
      <a href="#" data-toggle="modal" class="list-group-item" id="pp<%= p_e.id%>" >
        <p class="list-group-item-text"><%= p_e.prestacion.codigo_fonasa+' ' + p_e.prestacion.nombre %><button id="bcp<%= p_e.id%>" type="button" class="btn btn-xs btn-danger" onclick="eliminarPrestacion(<%= p_e.id%>)">Eliminar</button></p></a>
    <% end %>
  </div>

  <%= f.label :"Procedimientos/Cirugías:" %>
  <input type='hidden'id="select_procedimiento"></input>

  <div class="list-group" name="procedimiento-div" id="procedimiento-div">  
    <% @persona_procedimiento.each do |p_p| %>
      <a href="#" data-toggle="modal" class="list-group-item" id="pp<%= p_p.id%>" >
        <p class="list-group-item-text"><%= p_p.prestacion.codigo_fonasa+' ' + p_p.prestacion.nombre %><button id="bcp<%= p_p.id%>" type="button" class="btn btn-xs btn-danger" onclick="eliminarPrestacion(<%= p_p.id%>)">Eliminar</button></p></a>
    <% end %>
  </div>

  <%= f.label :"Medicamentos:" %>
  <input type='hidden'id="select_medicamento"></input>

  <div class="list-group" name="medicamento-div" id="medicamento-div">  
    <% @persona_medicamento.each do |p_m| %>
      <a href="#modal-container-med-<%= p_m.id%>" data-toggle="modal" class="list-group-item" id="pm<%= p_m.id%>" >
        <p class="list-group-item-text"><%= p_m.medicamento.nombre %><button id="bpm<%= p_m.id%>" type="button" class="btn btn-xs btn-danger" onclick="eliminarMedicamento(<%= p_m.id%>)">Eliminar</button></p></a>
    <% end %>
  </div>

  <div id="med_modal-div" >
  <% @persona_medicamento.each do |p_m| %> 
    <div class="modal fade" id="modal-container-med-<%= p_m.id%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"><%= p_m.medicamento.nombre %></h4>
          </div>
          <div class="modal-body">hola </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
             <button type="button"  onclick="guardarMedicamento(<%= p_m.id%>)" class="btn btn-primary">Guardar</button>
          </div>
        </div>            
      </div>        
    </div>
  <% end %>      
  </div>

  <%= f.label :"Indicaciones:"  %>
  <%= f.text_area :indicaciones_generales , :class => 'form-control',:size => "50x4" %>
		

	<%= link_to 'Emitir certificado', agendaShowFormBusqueda_path %><br/>
	<%= link_to 'Generar interconsulta', agendaShowFormBusqueda_path %><br/>
  <%= f.submit :"Cerrar Atención", :id => "submit" , :class=>"btn btn-success" %> 
  <button class="btn btn-info" >Guardar</button>

</div>

</div> <!--Cierre div row -->
</div> <!--Cierre div panel-body -->
</div> <!--Cierre div panel -->

<% end %>

<%= javascript_include_tag "atencion_salud/atencion_salud-inicial" %>
