<script>
  var persona_id=<%=@agendamiento.persona.id  %>
	var atencion_salud_id=<%= @atencion_salud.id %>
  var link_loading = '<%= image_tag("loading.gif", alt: "Rails") %>'	
  var id=<%= @id %>

</script>

<%= form_for :atencion_salud, :html => {:class => 'form-horizontal'} , url: {action: "update"},  method: :put do |f|  %>

<input type="hidden" id="persona_id" value=<%=@agendamiento.persona.id  %> >

<div class="panel panel-success">
<div class="panel-heading">
  <h3 class="panel-title">Atención de Salud</h3>
</div>
<div class="panel-body">	

<div class="row">

<div class="col-md-6 div-form-atencion">

  <div class="container-corregido">
    <div class="row clearfix">
      <div class="col-md-4 column">
        <%= f.label 'Paciente' %>
      </div>
      <div class="col-md-8 column">:
        <%= @agendamiento.persona.showName('%n%p%m') %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4 column">
        <%= f.label 'Rut' %>
      </div>
      <div class="col-md-8 column">:
        <%= @agendamiento.persona.showRut %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-4 column">
        <%= f.label 'Sexo' %>
      </div>
      <div class="col-md-8 column">:
        <%= @agendamiento.persona.showSexo %>
      </div>
    </div>
  </div>

<%= f.label 'Antecedentes' %><br/>
<div class="list-group" name="antecedentes-div" id="antecedentes-div">  
  <% @antecedentes.each do |p_d| %>
    <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
  <% end %>
</div>
<div id="antecedentes-modal-div" >
  <% @antecedentes.each do |p_d| %>
     <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
  <% end %>      
</div>

<%= f.label 'Diagnósticos anteriores' %><br/>
<div class="list-group" name="diagnostico-anterior-div" id="diagnostico-anterior-div">  
  <% @persona_diagnostico_anteriores.each do |p_d| %>
    <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
  <% end %>
</div>
<div id="diag_ant-modal-div" >
  <% @persona_diagnostico_anteriores.each do |p_d| %>
     <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
  <% end %>      
</div>

<%= f.label :"Motivo de consulta" %><span class="alert alert-info" id="auto-motivo" >Autoguardado</span>
<%= f.text_area :motivo_consulta , :class => "form-control", :size => "50x3" %>
<%= f.label :"Examen físico" %><span class="alert alert-info" id="auto-examen" >Autoguardado</span>
<%= f.text_area :examen_fisico , :class => "form-control", :size => "50x3" %>
 
<a id="modal-metricas" href="#modal-container-metricas" role="button" class="btn" data-toggle="modal">Métricas</a>
<%= render :partial => "persona_metricas/metricas", :locals => {:id => @atencion_salud.id, :p_e => @estatura, :p_p => @peso, :p_imc => @imc, :p_pr => @presion} %>
 
</div>

<div class="col-md-6 div-form-atencion">

  <%= f.label :"Diagnóstico" %>
  <input type='hidden'id="select_diagnostico"></input>
  <div class="checkbox">
    <label for="diag-no-frec">
      <input type="checkbox" name="checkboxes" id="diag-no-frec" value="1">
      Incluir diagnósticos no frecuentes
    </label>
  </div>
  <div class="list-group" name="diagnostico-div" id="diagnostico-div">	
    <% @persona_diagnostico.each do |p_d| %>
      <%= render :partial => "persona_diagnostico/persona_diagnostico", :locals => {:p_d => p_d} %>
    <% end %>
	</div>
  <div id="diag_modal-div" >
    <% @persona_diagnostico.each do |p_d| %>
       <%= render :partial => "persona_diagnostico/persona_diagnostico_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
    <% end %>      
  </div>
	
	<%= f.label :"Exámenes" %>

  <input type='hidden'id="select_examen"></input>
  <div class="list-group" name="examen-div" id="examen-div">  
    <% @persona_examen.each do |p_e| %>
      <%= render :partial => "persona_prestacion/persona_prestacion", :locals => {:p_p => p_e} %> 
    <% end %>
  </div>
  <div id="exa_modal-div" >
    <% @persona_examen.each do |p_e| %>
      <%= render :partial => "persona_prestacion/persona_prestacion_modal", :locals => {:p_p => p_e} %> 
    <% end %>      
  </div>

  <%= f.label :"Procedimientos/Cirugías" %>
  <input type='hidden'id="select_procedimiento"></input>
  <div class="list-group" name="procedimiento-div" id="procedimiento-div">  
    <% @persona_procedimiento.each do |p_p| %>
      <%= render :partial => "persona_prestacion/persona_prestacion", :locals => {:p_p => p_p} %>  
    <% end %>
  </div>
  <div id="proc_modal-div" >
    <% @persona_procedimiento.each do |p_p| %>
      <%= render :partial => "persona_prestacion/persona_prestacion_modal", :locals => {:p_p => p_p} %> 
    <% end %>      
  </div> 

  <%= f.label :"Medicamentos" %>
  <input type='hidden'id="select_medicamento"></input>
  <div class="list-group" name="medicamento-div" id="medicamento-div">  
    <% @persona_medicamento.each do |p_m| %>
      <%= render :partial => "persona_medicamento/persona_medicamento", :locals => {:persona_medicamento => p_m} %>     
    <% end %>
  </div>
  <div id="med_modal-div" >
    <% @persona_medicamento.each do |p_m| %>
      <%= render :partial => "persona_medicamento/persona_medicamento_modal", :locals => {:persona_medicamento => p_m} %> 
    <% end %>      
  </div>

  <%= f.label :"Indicaciones"  %><span id="auto-indicaciones" class="alert alert-info">Autoguardado</span>
  <%= f.text_area :indicaciones_generales , :class => 'form-control',:size => "50x4" %>

  <a id="modal-" href="#modal-container-certificados" role="button" class="btn" data-toggle="modal">Emitir certificado</a>
  <%= render :partial => "certificados", :locals => {:id => @atencion_salud.id} %><br>


</div>

</div> <!--Cierre div row -->

<div class="row">
  <div class="col-md-12 column">

    <%= f.submit :"Finalizar atención", :id => "finalizar", :name =>"finalizar", :class=>"btn btn-info" %>
    <%= f.submit :"Guardar atención", :id => "guardar", :class=>"btn btn-success" %>
        
  </div>
</div>  

</div> <!--Cierre div panel-body -->
</div> <!--Cierre div panel -->

<% end %> 

<%= javascript_include_tag "atencion_salud/atencion_salud" %>
<%= javascript_include_tag "atencion_salud/cargar_calendario" %>

