<script>
  var persona_id=<%=@agendamiento.persona.id  %>
	var atencion_salud_id=<%= @atencion_salud.id %>
  var id=<%= @id %>
</script>

<input type="hidden" id="persona_id" value=<%= @agendamiento.persona.id  %> >

<div id="atencion-salud" class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><span>Atención de Salud</span><span class='right'>Hora: <%= @agendamiento.fecha_comienzo.strftime('%H:%M') %> Profesional: <%= @agendamiento.especialidad_prestador_profesional.profesional.showName('%n%p%m') %> </span></h3>
  </div>
  <div class="panel-body">	
    <div class="row">
      <div class="col-md-6 div-form-atencion">
        <div class="container ajustado">
          <div class="row clearfix">
            <div class="col-md-7 column">
              <label>Paciente</label>: <%= @agendamiento.persona.showName('%n%p%m') %>
            </div>
            <div class="col-md-5 column">
              <label>Edad</label>: <%= @agendamiento.persona.age_text %>  
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-7 column">
             <label>Rut</label>: <%= @agendamiento.persona.showRut %>  
            </div>
            <div class="col-md-5 column">
             <label>Sexo</label>: <%= @agendamiento.persona.showSexo %>  
            </div>
          </div>
        </div>
        <fieldset>
          <legend>Antecedentes</legend>
          <div class"container">
            <div class="row clearfix">
              <div class="list-group col-md-4 column ajuste-ant">
                <a id="med" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_med %>"><i class="fa fa-archive fa-fw fa-lg"></i>Medicamentos</a>
                <a id="ale" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_alergias %>"><i class="fa fa-shield fa-fw fa-lg"></i>Alergias</a>
                <a id="vac" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_vacunas %>"><i class="fa fa-magic fa-fw fa-lg"></i>Vacunas</a>
                <a id="ant_qui" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_ant_pro %>"><i class="fa fa-magic fa-fw fa-lg"></i>Antecedentes quirúrgicos</a>
              </div>
              <div class="list-group col-md-4 column ajuste-ant">
                <a id="act_fis" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_act_fis %>"><i class="fa fa-soccer-ball-o fa-fw fa-lg"></i>Actividad física</a>
                <a id="hab_alc" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_alcohol %>"><i class="fa fa-beer fa-fw fa-lg"></i>Hábitos de alcohol</a>
                <a id="hab_tab" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_tabaco %>"><i class="fa fa-magic fa-fw fa-lg"></i>Hábitos de tabaco</a>
                <% if @agendamiento.persona.genero == 'Femenino' %>
                  <a id="ant_gin" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_gin %>"><i class="fa fa-venus fa-fw fa-lg"></i>Antecedentes ginecológicos</a>
                <% end%>
              </div> 
              <div class="list-group col-md-4 column ajuste-ant2">
                <a id="ant_fam" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_ant_fam %>"><i class="fa fa-users fa-fw fa-lg"></i>Antecedentes familiares</a>
                <a id="ant_soc" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_sociales %>"><i class="fa fa-users fa-fw fa-lg"></i>Antecedentes sociales</a>
                <a id="ant_lab" href="#" data-toggle="modal" data-target="#myModal" class="ellipsis list-group-item load_ant_show <%= @class_ocupaciones %>"><i class="fa fa-money fa-fw fa-lg"></i>Antecedentes laborales</a>
              </div>
            </div>  
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header ajuste-modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4>Antecedentes del paciente</h4>
                </div>
                <div class="modal-body ajuste-height">
                  <div id='contenido-ant-show'></div>        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar ventana</button>
                </div>
              </div>
            </div>
          </div> 

          <label>Antecedentes médicos</label>
          <div class="list-group" name="antecedentes-div" id="antecedentes-div">  
            <% @ant_med_at.each do |p_d| %>
              <%= render :partial => "persona_diagnostico/anterior/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
            <% end %>
            <% @ant_med_us.each do |p_d| %>
              <%= render :partial => "persona_diagnostico/anterior/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
            <% end %>
          </div>
          <div id="antecedentes-modal-div" >
            <% @ant_med_at.each do |p_d| %>
              <%= render :partial => "persona_diagnostico/persona_diagnostico_anterior_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
            <% end %>
            <% @ant_med_us.each do |p_d| %>     
              <%= render :partial => "antecedentes/persona_diagnostico_modal", :locals => {:p_d => p_d } %>     
            <% end %>       
          </div> 
        </fieldset>

        <label>Diagnósticos recientes</label>
        <div class="list-group" name="diagnostico-anterior-div" id="diagnostico-anterior-div">
          <% if @persona_diagnostico_anteriores.blank? %>
            No hay diagnósticos recientes.
          <% end %>  
          <% @persona_diagnostico_anteriores.each do |p_d| %>
            <%= render :partial => "persona_diagnostico/anterior/persona_diagnostico_anterior", :locals => {:p_d => p_d} %>
          <% end %>
        </div>
        <div id="diag_ant-modal-div" >
          <% @persona_diagnostico_anteriores.each do |p_d| %>
             <%= render :partial => "persona_diagnostico/anterior/persona_diagnostico_anterior_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico} %>
          <% end %>      
        </div>
        <div id="ajuste-motivo">
          <label>Motivo de consulta:</label><input type='text' class="form-control ajuste-motivo" value="<%= @atencion_salud.motivo_consulta %>" disabled >
        </div>
        <label>Anamnesis</label>
        <textarea class = "form-control" rows='3' cols='50' disabled ><%= @atencion_salud.anamnesis %></textarea>
        <a id="modal-metricas" href="#modal-container-metricas" role="button" class="btn" data-toggle="modal">Métricas</a> | <a id="modal-signos" href="#modal-container-signos" role="button" class="btn" data-toggle="modal">Signos vitales</a>
        <%= render :partial => "persona_metricas/metricas", :locals => {:id => @atencion_salud.id, :p_e => @estatura, :p_p => @peso, :p_imc => @imc} %>
        <%= render :partial => "persona_metricas/signos", :locals => {:id => @atencion_salud.id, :p_fc => @frec_car, :p_fr => @frec_res, :p_t => @temp, :p_pr => @presion, :p_sat => @sat, :car_p_fc => @car_frec_car, :car_p_fr => @car_frec_res, :car_p_t => @car_temp, :car_p_pr => @car_presion, :car_p_sat => @car_sat} %>
        <br><label>Examen físico</label>
        <textarea class="form-control" rows='3' cols='50' disabled ><%= @atencion_salud.examen_fisico %></textarea>       
      </div>
      <div class="col-md-6 div-form-atencion">
        <label>Diagnóstico</label>
        <div class="list-group" name="diagnostico-div" id="diagnostico-div">	
          <% @persona_diagnostico.each do |p_d| %>
            <%= render :partial => "persona_diagnostico/persona_diagnostico", :locals => {:p_d => p_d} %>
          <% end %>
      	</div>
        <div id="diag_modal-div" >
          <% @persona_diagnostico.each do |p_d| %>
             <%= render :partial => "persona_diagnostico/persona_diagnostico_modal", :locals => {:p_d => p_d, :e_d => @estados_diagnostico, :tipo =>'show'} %>
          <% end %>      
        </div>
    	
        <fieldset>
          <legend>Indicaciones</legend>
        	<label>Exámenes</label>
          <div class="list-group" name="examen-div" id="examen-div">  
            <% @persona_examen.each do |p_e| %>
              <%= render :partial => "persona_prestacion/persona_prestacion", :locals => {:p_p => p_e, :tipo =>'show'} %> 
            <% end %>
          </div>
          <div id="exa_modal-div" >
            <% @persona_examen.each do |p_e| %>
              <%= render :partial => "persona_prestacion/persona_prestacion_modal", :locals => {:p_p => p_e, :tipo =>'show'} %> 
            <% end %>      
          </div>

          <label>Procedimientos/Cirugías</label>
          <div class="list-group" name="procedimiento-div" id="procedimiento-div">  
            <% @persona_procedimiento.each do |p_p| %>
              <%= render :partial => "persona_prestacion/persona_prestacion", :locals => {:p_p => p_p, :tipo =>'show'} %>  
            <% end %>
          </div>
          <div id="proc_modal-div" >
            <% @persona_procedimiento.each do |p_p| %>
              <%= render :partial => "persona_prestacion/persona_prestacion_modal", :locals => {:p_p => p_p, :tipo =>'show'} %> 
            <% end %>      
          </div> 

          <label>Medicamentos</label>
          <div class="list-group" name="medicamento-div" id="medicamento-div">  
            <% @persona_medicamento.each do |p_m| %>
              <%= render :partial => "persona_medicamento/persona_medicamento", :locals => {:persona_medicamento => p_m, :tipo =>'show'} %>     
            <% end %>
          </div>
          <div id="med_modal-div" >
            <% @persona_medicamento.each do |p_m| %>
              <%= render :partial => "persona_medicamento/persona_medicamento_modal", :locals => {:persona_medicamento => p_m, :tipo =>'show'} %> 
            <% end %>      
          </div>

          <label>Indicaciones generales</label>
          <textarea class='form-control' rows='3' cols='50' disabled ><%= @atencion_salud.indicaciones_generales %></textarea>

          <a href="#modal-container-certificados" role="button" class="btn" data-toggle="modal" onclick="actualizarDiagCert(<%= @certificado.id %>,'show')">Emitir certificado</a> | <%= link_to 'Imprimir indicaciones', descargar_indicaciones_path(:id => @atencion_salud.id, :ag => @agendamiento.id, :format => :pdf) , :method => :post %> | <%= link_to 'Imprimir receta', descargar_receta_path(:id => @atencion_salud.id, :ag => @agendamiento.id, :format => :pdf) , :method => :post %>
          <%= render :partial => "certificados", :locals => {:id => @atencion_salud.id , :certificado => @certificado, :tipo => 'show' } %>
        </fieldset>
      </div>
    </div> <!--Cierre div row -->    
  </div> <!--Cierre div panel-body -->
</div> <!--Cierre div panel -->

<%= javascript_include_tag "atencion_salud/atencion_salud" %>
<%= javascript_include_tag "atencion_salud/medicamento" %>
<%= javascript_include_tag "atencion_salud/cargar_calendario" %>
<%= javascript_include_tag "home" %>
<%= javascript_include_tag "antecedentes" %>
<%= javascript_include_tag "atencion_salud/certificado" %>
<%= javascript_include_tag "atenciones_salud" %>