<%	case @tipo_accion %>
<%	when 'editar' %>
			$('#tr-hab-tab-<%= @cons.id %>').replaceWith("<%= escape_javascript( render :partial => "habitos_tabaco_row", :locals => { :cons => @cons, :tipo => 'edit' } ) %>");			
<%	when 'ingresar' %>	
			$("<%= escape_javascript( render :partial => "habitos_tabaco_row", :locals => { :cons => @cons, :tipo => 'edit'  } ) %>").appendTo("#lista-hab-tab");
			$("<%= escape_javascript( render :partial => "edit", :locals => { :cons => @cons, :tipo => 'edit' } ) %>").appendTo("#ant_tab_modal-div");
			$('#tr-vacio-tab').replaceWith('');	
<%	end %>
$('#total-consumo').replaceWith("<span id='total-consumo'><%= number_to_human(@total_consumo, precision: 2, separator: ',') %></span>");					