<h4>Consumo de cigarrillos realizados</h4>
<% unless @consumo.blank? %>
	<table class="table table-striped table-hover table-condensed">
		<thead class="ajust-head">
	    <tr class="info" ><th class="col-sm-2">Fecha inicio</th><th class="col-sm-2">Fecha final</th><th class="col-sm-2">Cigarros por día</th><th class="col-sm-2">Paquetes año</th><th class="col-sm-1">Consumo</th></tr>
	  </thead>
	  <tbody> 
		<% @consumo.each do |cons| %>
			<tr>
				<td><%= cons.fecha_inicio.strftime('%Y-%m-%d') %></td>
				<td><%= cons.fecha_final.strftime('%Y-%m-%d') %></td>
				<td><%= cons.cigarros_por_dia %></td>
				<td><%= cons.paquetes_agno %></td>
				<td><%= link_to 'Editar', {:controller => :habitos_tabaco, :action => 'edit', :id => cons.id }, :method => :get %></td>
			</tr>
		<% end %>		
		</tbody>
	</table>	
	<div class="alert alert-success" role="alert">Total consumo: <%= @total_consumo %> </div>
<% else %>
No hay información de consumo de cigarrillos.
<% end %>
</br>
<%= link_to 'Ingresar consumo de tabaco', habitos_tabaco_new_path %>	