<div class="container ajuste-signin">    
  <div class="intro-text">
      <h2 class="heading">Inicia sesión para acceder a <%= AplicacionMedica::Application.config.site_name %></h2>
      <div class="alert alert-danger" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  <%= alert %>
			</div>
      <%= form_for(:user, :html => {:class => 'form-horizontal' }, :url => session_path(:user)) do |f| %>
      	<div class="label_div" ><label>Correo electrónico:</label></div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.text_field :email, :class => "form-control" %>
        </div>
        <div class="label_div" ><label>Contraseña:</label></div>
        <div class="input-group"> 
          <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
          <%= f.password_field :password, :class => "form-control" %>
        </div>
        <div class="checkbox">
          <%= f.label 'No cerrar sesión', :for => "remember_me" ,:class => 'ajuste-hover' %>
          <%= f.check_box :remember_me, :id => "remember_me" %> 
        </div>
          <%= f.submit 'Iniciar sesión' , class: "btn btn-large btn-primary btn-block" %><br>
          <%= link_to "Crear una cuenta", new_registration_path(:user) %> |  
          <%= link_to "Recuperar contraseña", new_password_path(:user) %> 
          <br>
      <% end %>	
  </div>
</div>

<%= javascript_include_tag "home" %>

