<tr id='tr-ant-fam-cro-<%= ant_enf_cro['id'] %>'>
	<td><%= ant_enf_cro['persona'] %></td>
	<td><%= ant_enf_cro['parentesco'] %></td>
	<td><%= ant_enf_cro['diagnostico'] %></td>
	<td><%= ant_enf_cro['inicio']  %></td>
	<td><a href="#modal-container-ant-fam-cro-<%= ant_enf_cro['id'] %>" data-toggle="modal" id="ant-fam-cro<%= ant_enf_cro['id'] %>" >Editar</a></td>
</tr>