<tr id='tr-ant-fam-mue-<%= deceso['id'] %>' >
	<td><%= deceso['persona'] %></td>
	<td><%= deceso['parentesco'] %></td>
	<td><%= deceso['diagnostico'] %></td>
	<td><%= deceso['fecha_deceso'] %></td>
	<td><a href="#modal-container-ant-fam-mue-<%= deceso['id'] %>" data-toggle="modal" id="ant-fam-mue<%= deceso['id'] %>" >Editar</a></td>
</tr>