<% if @acceso %>
	<h4>Antecedentes familiares</h4>
	<h5>Muertes</h5>
<div id="search-modal">
	<table class="table table-striped table-hover table-condensed">
		<thead class="ajust-head">
      <tr class="info" ><th class="col-sm-2">Persona</th><th class="col-sm-1">Parentesco</th><th class="col-sm-2">Diagnóstico</th><th class="col-sm-1">Fecha deceso</th><th class="col-sm-1">Editar</th</tr>
    </thead>
    <tbody id='body-ant-muertes'> 
    	<% unless @decesos.empty? %>
	    	<% @decesos.each do |deceso| %>
		   		<%= render :partial => "antecedentes/antecedentes_familiares_muertes_row", :locals => {:deceso => deceso,:tipo => @tipo } %>
		    <% end %>	
		  <% else %>
				<tr id='tr-vacio-ant-fam-mue'><td colspan='5' >No hay información de antecedentes familiares.</td></tr>
			<% end %>
    </tbody>    
	</table>

	<% if @tipo == 'edit' or @tipo == 'reabrir' or !@atencion_salud %>
		<a href="#modal-container-ant-fam-mue-new" role="button" class="btn" data-toggle="modal">Agregar antecedente familiar (muerte)</a>
		<div id='ant_mue_modal-div'></div>

		<% unless @decesos.empty?  %>
			<% @decesos.each do |deceso| %>
				<%= render :partial => "antecedentes/antecedentes_familiares_muertes_edit", :locals => { :deceso => deceso } %>
			<% end %>
		<% end %>	

		<div class="modal fade" id="modal-container-ant-fam-mue-new" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg2">
				<div class="modal-content">
					<div class="modal-header">
						 <button type="button" class="close" aria-hidden="true" onclick="cerrarModalAntFamMue('new')">×</button>
						<h4 class="modal-title" id="myModalLabel">
							Antecedentes familiares
						</h4>
					</div>
					<div class="modal-body ajuste-new-ant-fam">
						<%= render :partial => "antecedentes/antecedentes_familiares_muertes_new", :locals => { :persona => @persona } %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" onclick="cerrarModalAntFamMue('new')">Cerrar ventana</button>
						<button type="button" id="agregar-ant-fam-mue-new" class="btn btn-success" onclick="cambiarAntecedente('new')">Agregar antecedente</button>
					</div>
				</div>			
			</div>		
		</div>
	<% end %>


	<br>
	<h5>Enfermedades</h5>
	<table class="table table-striped table-hover table-condensed">
		<thead class="ajust-head">
      <tr class="info" ><th class="col-sm-2">Persona</th><th class="col-sm-1">Parentesco</th><th class="col-sm-2">Diagnóstico</th><th class="col-sm-1">Fecha inicio</th><th class="col-sm-1">Fecha término</th><th class="col-sm-1">Editar</th></tr>	      
    </thead>
    <tbody id='body-ant-cronicas'>
    	<% unless @ant_enf_cro.empty?  %>
	    	<% @ant_enf_cro.each do |ant_enf_cro| %>
	    		<%= render :partial => "antecedentes/antecedentes_familiares_cronicos_row", :locals => {:ant_enf_cro => ant_enf_cro, :tipo => @tipo} %>
		    <% end %>
	    <% else %>
	    	<tr id='tr-vacio-ant-fam-cro'><td colspan='6' > No hay información de antecedentes familiares relacionados con enfermedades crónicas.</td></tr>
		  <% end %>		    	
    </tbody>    
	</table>

	<% if @tipo == 'edit' or @tipo == 'reabrir' or !@atencion_salud %>
		<a href="#modal-container-ant-fam-cro-new" role="button" class="btn" data-toggle="modal">Agregar antecedente familiar (enfermedad crónica)</a>
		<div id='ant_cro_modal-div'></div>	

		<% unless @ant_enf_cro.empty?  %>
			<% @ant_enf_cro.each do |ant_enf_cro| %>
				<%= render :partial => "antecedentes/antecedentes_familiares_cronicos_edit", :locals => { :ant_enf_cro => ant_enf_cro } %>
			<% end %>
		<% end %>

		<div class="modal fade" id="modal-container-ant-fam-cro-new" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg2">
				<div class="modal-content">
					<div class="modal-header">
						 <button type="button" class="close" aria-hidden="true" onclick="cerrarModalAntFamCro('new')">×</button>
						<h4 class="modal-title" id="myModalLabel">
							Antecedentes familiares
						</h4>
					</div>
					<div class="modal-body ajuste-new-ant-fam">
						<%= render :partial => "antecedentes/antecedentes_familiares_cronicos_new", :locals => { :persona => @persona } %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" onclick="cerrarModalAntFamCro('new')">Cerrar ventana</button>
						<button type="submit" id="agregar-ant-fam-cro-new" class="btn btn-success">Agregar antecedente</button>
					</div>
				</div>			
			</div>		
		</div>
	<% end %>
</div>	
<% else %>
	<%= render :partial => "layouts/permiso" %>
<% end %>  

<%= javascript_include_tag "atencion_salud/atencion_salud" %>
<%= javascript_include_tag "atencion_salud/cargar_calendario" %>