<%	case @ant %>
<%	when 'med' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:persona_medicamentos => @persona_medicamentos, :atencion_salud => @atencion_salud } ) %></div>")			
<%	when 'ale' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:persona_prestacion => @persona_prestacion, :atencion_salud => @atencion_salud, :prestadores => @prestadores } ) %></div>")
<%	when 'vac' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :template => @partial, :locals => {:personas_vacunas => @personas_vacunas, :personas_vacunas_otras => @personas_vacunas_otras,:agno => @agno, :partial_seguimiento => @partial_seguimiento, :calendario_vacunas_persona => @calendario_vacunas_persona , :agnos => @agnos, :calendario_vacunas => @calendario_vacunas, :otras_vacunas => @otras_vacunas } ) %></div>")
<%	when 'ant_qui' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:alergias => @alergias } ) %></div>")			
<%	when 'act_fis' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:persona_actividad_fisica => @persona_actividad_fisica, :segmento_actividad => @segmento_actividad, :edad_act_fis => @edad_act_fis } ) %></div>")	
<%	when 'hab_alc' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:test_audit => @test_audit } ) %></div>")	
<%	when 'hab_tab' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:consumo => @consumo, :total_consumo => @total_consumo } ) %></div>")	
<%	when 'ant_gin' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial ) %></div>")	
<%	when 'ant_fam' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial ) %></div>")	
<%	when 'ant_soc' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :partial => @partial, :locals => {:persona => @persona } ) %></div>")	
<%	when 'ant_lab' %>
			$( "#contenido-ant" ).replaceWith("<div id='contenido-ant'><%= escape_javascript( render :template => @partial, :locals => {:ocupaciones => @ocupaciones } ) %></div>")	
<%	end %>