<h3>Antecedentes</h3>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<ul id="nav-antecedentes" class="nav nav-pills nav-pills nav-stacked nav-antecedentes" role="tablist">
				<li class="active"><a href="#familia" role="tab" data-toggle="tab">Familia</a></li>
			  <li><a href="#ant_med" role="tab" data-toggle="tab">Antecedentes médicos</a></li>
			  <li><a href="#ant_quir" role="tab" data-toggle="tab">Antecedentes quirúrgicos</a></li>
			  <% if @paciente.genero == 'Femenino' %><li><a href="#ant_gine" role="tab" data-toggle="tab">Antecedentes ginecológicos</a></li><% end %>
			  <li><a href="#medicamentos" role="tab" data-toggle="tab">Medicamentos</a></li>
			  <li><a href="#alergias" role="tab" data-toggle="tab">Alergias</a></li>
			  <li><a href="#vacunas" role="tab" data-toggle="tab">Vacunas</a></li>
			  <li><a href="#actividad_fisica" role="tab" data-toggle="tab">Actividad física</a></li>
			  <li><a href="#habitos_alcohol" role="tab" data-toggle="tab">Hábitos de alcohol</a></li>
			  <li><a href="#habitos_tabaco" role="tab" data-toggle="tab">Hábitos de tabaco</a></li>
			  <li><a href="#antecedentes_familiares" role="tab" data-toggle="tab">Antecedentes familiares</a></li>
			  <li><a href="#antecedentes_sociales" role="tab" data-toggle="tab">Antecedentes sociales</a></li>
			  <li><a href="#antecedentes_laborales" role="tab" data-toggle="tab">Antecedentes laborales</a></li>
			</ul>
		</div>
		<div class="col-md-9 column antecedentes">
			<div class="tab-content antecedentes">
				<div class="tab-pane active" id="familia"><%= render :partial => "persona/familia" %></div>
			  <div class="tab-pane" id="ant_med"><%= render :partial => "antecedentes_medicos" %></div>
			  <div class="tab-pane" id="ant_quir"><%= render :partial => "antecedentes_quirurgicos",:locals => { :tipo => 'edit' } %></div>
			  <% if @paciente.genero == 'Femenino' %><div class="tab-pane" id="ant_gine"><%= render :partial => "antecedentes_ginecologicos" %></div><% end %>
			  <div class="tab-pane" id="medicamentos"><%= render :partial => "medicamentos",:locals => { :tipo => 'edit' } %></div>
			  <div class="tab-pane" id="alergias"><%= render :partial => "alergias" %></div>
			  <div class="tab-pane" id="vacunas"><%= render :template => "vacunas/index" %></div>
			  <div class="tab-pane" id="actividad_fisica"><%= render :partial => "actividad_fisica" %></div>
			  <div class="tab-pane" id="habitos_alcohol"><%= render :partial => "habitos_alcohol/index" %></div>
			  <div class="tab-pane" id="habitos_tabaco"><%= render :partial => "habitos_tabaco/index" %></div>
			  <div class="tab-pane" id="antecedentes_familiares"><%= render :partial => "antecedentes_familiares" %></div>
			  <div class="tab-pane" id="antecedentes_sociales"><%= render :partial => "antecedentes_sociales" %></div>
			  <div class="tab-pane" id="antecedentes_laborales"><%= render :template => "ocupaciones/index" %></div>		
			</div>
		</div>
	</div>
</div>
