<nav class="navbar navbar-inverse bg-pattern-vertical bg-pattern-horizontal" role="navigation">
  <div class="container-fluid">  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
      <%= link_to "MedRacer", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio",    root_path %></li>
        <li><%= link_to "Ayuda",    '#' %></li>
        <% if user_signed_in? %>         
          <li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to current_user.persona.showName('%n%p') ,'#'%> </li> 
        <% end %>          
      </ul>
    </div>
  </div>
</nav>

